<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cbt.admuser.dao.AdmuserMapper" >
  <resultMap id="BaseResultMap" type="com.cbt.pojo.Admuser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admName" property="admname" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="roleType" property="roletype" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="emailpass" property="emailpass" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, admName, Email, password, title, roleType, status, emailpass
  </sql>
  
  <select id="selectAdmuser" resultMap="BaseResultMap">
    SELECT
        id, admName, Email, title, roleType, status, emailpass
    FROM admuser WHERE roleType in(0,3,4) AND status = 1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.cbt.pojo.Admuser" >
    update admuser
    <set >
      <if test="admname != null" >
        admName = #{admname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="roletype != null" >
        roleType = #{roletype,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="emailpass != null" >
        emailpass = #{emailpass,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>