<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- bean -->
    <bean id="parseGoodsCarJob" class="com.cbt.website.quartz.ParseGoodsCarConfigJob"/>
    <bean id="parseGoodsPriceAndSearchJob" class="com.cbt.website.quartz.ParseGoodsPriceAndSearchJob"/>
    <bean id="parseOrderFreightJob" class="com.cbt.website.quartz.ParseOrderFreightJob"/>
    <!--<bean id="parseOrderManageJob" class="com.cbt.website.quartz.parseOrderManageJob"/>-->
    <bean id="updateHotGoodsPriceJob" class="com.cbt.website.quartz.UpdateHotGoodsPrice"/>


    <bean name="parseGoodsCarFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 指定执行任务的对象 -->
        <property name="targetObject">
            <ref bean="parseGoodsCarJob"/>
        </property>
        <!-- 指定对象执行的方法 -->
        <property name="targetMethod">
            <value>updateGoodsCarInfo</value>
        </property>
        <property name="concurrent" value="false"/>

    </bean>
    <bean name="parseOrderFreightFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 指定执行任务的对象 -->
        <property name="targetObject">
            <ref bean="parseOrderFreightJob"/>
        </property>
        <!-- 指定对象执行的方法 -->
        <property name="targetMethod">
            <value>flushOrderFreight</value>
        </property>
        <property name="concurrent" value="false"/>
    </bean>
    <bean name="parseGoodsPriceAndSearchFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 指定执行任务的对象 -->
        <property name="targetObject">
            <ref bean="parseGoodsPriceAndSearchJob"/>
        </property>
        <!-- 指定对象执行的方法 -->
        <property name="targetMethod">
            <value>parseAndUpdateGoodsInfo</value>
        </property>
        <property name="concurrent" value="false"/>
    </bean>
    <bean name="updateHotGoodsPriceFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 指定执行任务的对象 -->
        <property name="targetObject">
            <ref bean="updateHotGoodsPriceJob"/>
        </property>
        <!-- 指定对象执行的方法 -->
        <property name="targetMethod">
            <value>updateHotGoodsJson</value>
        </property>
        <property name="concurrent" value="false"/>
    </bean>




    <!--每6小时触发一次 -->
    <bean id="parseGoodsCarTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="parseGoodsCarFactoryBean" />
        <property name="cronExpression" value="0 0 0/1 * * ?" />
    </bean>
    <!--86400000-->
    <!--<bean id="parseGoodsCarTriggerBean" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="parseGoodsCarFactoryBean" />
        <property name="startDelay" value="86400000" />
        <property name="repeatCount" value="0"/>
    </bean>-->
    <bean id="parseOrderFreightTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="parseOrderFreightFactoryBean" />
        <property name="cronExpression" value="0 0 0/2 * * ?" />
    </bean>
    <!--<bean id="parseOrderManageTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
        <!--<property name="jobDetail" ref="parseOrderManageFactoryBean" />-->
        <!--<property name="cronExpression" value="0 0/20 * * * ?" />-->
    <!--</bean>-->
    <bean id="parseGoodsPriceAndSearchTriggerBean" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="parseGoodsPriceAndSearchFactoryBean" />
        <property name="startDelay" value="86400000" /> <!-- 启动延迟  单位/毫秒-->
        <property name="repeatCount" value="0" />
    </bean>

    <!--<bean id="updateHotGoodsPriceTriggerBean" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="updateHotGoodsPriceFactoryBean" />
        <property name="startDelay" value="10000" /> &lt;!&ndash; 启动延迟  单位/毫秒&ndash;&gt;
        <property name="repeatCount" value="0" />
    </bean>-->
    <bean id="updateHotGoodsPriceTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="updateHotGoodsPriceFactoryBean" />
        <property name="cronExpression" value="0 0 0/2 * * ?" />
    </bean>



    <!--  调度器 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" >
        <property name="triggers">
            <list>
                <ref bean="parseGoodsCarTriggerBean"/>
                <ref bean="parseOrderFreightTriggerBean"/>
                <ref bean="parseGoodsPriceAndSearchTriggerBean"/>
                <ref bean="updateHotGoodsPriceTriggerBean"/>
            </list>
        </property>
    </bean>


    <!--<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="triggers">-->
            <!--<list>-->
                <!--<ref bean="parseOrderManageTriggerBean"/>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    
    <!-- 自动货源确认的 定时任务 -->
    <bean id="goodsSourceComfirmedJob" class="com.cbt.website.quartz.GoodsSourceComfirmedJob"/>
    <!-- 任务 -->
    <bean name="goodsSourceComfirmedJobTarget" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
         <!-- 指定执行任务的对象 -->
        <property name="targetObject">
            <ref bean="goodsSourceComfirmedJob"/>
        </property>
        <!-- 指定对象执行的方法 -->
        <property name="targetMethod">
            <value>execute</value>
        </property>
        <property name="concurrent" value="false"/>
    </bean>
    <!--触发器  -->
    <bean id="goodsSourceComfirmedJobTri" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="goodsSourceComfirmedJobTarget" />
            <!--每10s执行一次          -->
        <property name="cronExpression" value="0/10 * * * * ?" />  
        <!-- <property name="cronExpression" value="0 0/10 * * * ?" /> -->
    </bean>
    <!--  调度器 -->
<!--     <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="goodsSourceComfirmedJobTri"/>
            </list>
        </property>
    </bean> -->
</beans>