<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.importExpress.mapper.AliProductMapper">
    <resultMap id="aliProductResultMap" type="com.importExpress.pojo.AliProductBean">
        <id column="id" property="id"/>
        <result column="ali_pid" property="aliPid"/>
        <result column="ali_name" property="aliName"/>
        <result column="ali_img" property="aliImg"/>
        <result column="ali_price" property="aliPrice"/>
        <result column="ali_url" property="aliUrl"/>
        <result column="li_unit" property="aliUnit"/>
        <result column="keyword" property="keyword"/>
        <result column="ali_catid" property="aliCatid"/>
        <result column="ali_weight" property="aliWeight"/>
        <result column="admin_id" property="adminId"/>
        <result column="create_time" property="createTime"/>
        <result column="deal_state" property="dealState"/>
        <result column="admin_name" property="adminName"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="importProductResultMap" type="com.importExpress.pojo.ImportProductBean">
        <id column="id" property="id"/>
        <result column="ali_pid" property="aliPid"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="img" property="img"/>
        <result column="price" property="price"/>
        <result column="url" property="url"/>
        <result column="unit" property="unit"/>
        <result column="catid" property="catid"/>
        <result column="weight" property="weight"/>
        <result column="remotpath" property="remotePath"/>
        <result column="create_time" property="createTime"/>
        <result column="is_sold_flag" property="isSoldFlag"/>
        <result column="feeprice" property="feeprice"/>
        <result column="wprice" property="wprice"/>
        <result column="range_price" property="rangePrice"/>
        <result column="deal_state" property="dealState"/>
        <result column="is_sold_flag" property="isSoldFlag"/>
        <result column="morder" property="moq"/>
        <result column="sold" property="sold"/>
        <result column="bm_flag" property="bmFlag"/>
        <result column="isBenchmark" property="isBenchmark"/>
        <result column="old_ali_pid" property="oldAliPid"/>
        <result column="valid" property="valid"/>
        <result column="sold_flag" property="soldFlag"/>
        <result column="is_edit" property="isEdit"/>
    </resultMap>


    <select id="queryForList" resultMap="aliProductResultMap" parameterType="com.importExpress.pojo.AliProductBean">
        select a.id,a.ali_pid,a.ali_name,a.ali_url,a.ali_price,a.ali_img,a.keyword,
        DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') as create_time,a.deal_state,a.admin_id,
        DATE_FORMAT(a.update_time,'%Y-%m-%d %H:%i:%S') as update_time,b.admName as admin_name
        from aa_aliexpress_product a left join admuser b on a.admin_id = b.id
        where 1=1
        <if test="aliPid != null">
            and a.ali_pid = #{aliPid}
        </if>
        <if test="keyword != null">
            and a.keyword = #{keyword}
        </if>
        <if test="aliCatid != null">
            and a.ali_catid = #{aliCatid}
        </if>
        <if test="adminId != null and adminId > 0">
            and a.admin_id = #{adminId}
        </if>
        <if test="dealState != null">
            and a.deal_state = #{dealState}
        </if>
        order by id desc
        <if test="limitNum > 0">
            limit #{startNum},#{limitNum}
        </if>
    </select>


    <select id="queryForListCount" resultType="java.lang.Integer" parameterType="com.importExpress.pojo.AliProductBean">
        select count(1)
        from aa_aliexpress_product
        where 1=1
        <if test="aliPid != null">
            and ali_pid = #{aliPid}
        </if>
        <if test="keyword != null">
            and keyword = #{keyword}
        </if>
        <if test="aliCatid != null">
            and ali_catid = #{aliCatid}
        </if>
        <if test="adminId != null and adminId > 0">
            and admin_id = #{adminId}
        </if>
        <if test="dealState != null">
            and deal_state = #{dealState}
        </if>
    </select>


    <select id="query1688ByLire" resultMap="importProductResultMap">
        select a.id,a.ali_pid,a.pid,b.price,a.match_local_path as img,b.sellunit as unit,b.catid1 as catid,b.weight,
        DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') as create_time,a.match_remote_path as remotpath,b.enname as name,
        b.wprice,b.range_price,b.is_sold_flag,b.feeprice,a.deal_state,b.sold,b.morder,b.ali_pid as old_ali_pid,
        b.bm_flag ,b.isBenchmark,b.valid,b.sold_flag,ifnull(c.is_edited,0) as is_edit
        from aa_ali_product_lire a
        INNER JOIN custom_benchmark_ready b
        on a.pid = b.pid 
				LEFT JOIN custom_goods_edit c
				on b.pid = c.pid and c.is_edited=1
        where a.ali_pid = #{aliPid}
        limit 4 
    </select>


    <select id="query1688ByPython" resultMap="importProductResultMap">
        select a.id,a.ali_pid,a.pid,b.price,b.custom_main_image as img,b.sellunit as unit,b.catid1 as catid,b.weight,
        DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') as create_time,b.remotpath,b.enname as name,
        b.wprice,b.range_price,b.is_sold_flag,b.feeprice,a.deal_state,b.sold,b.morder,b.ali_pid as old_ali_pid,
        b.bm_flag ,b.isBenchmark
        from aa_ali_product_python a,custom_benchmark_ready b
        where a.pid = b.pid and a.ali_pid = #{aliPid}
        limit 4
    </select>

    <update id="setAliFlag">
        update aa_aliexpress_product
        set deal_state = #{dealState},admin_id = #{adminId}
        where ali_pid = #{aliPid}
    </update>

    <update id="set1688PidFlag">
        update aa_ali_product_lire
        set deal_state = #{dealState},admin_id = #{adminId}
        where ali_pid = #{aliPid} and pid = #{pid}
    </update>
    
</mapper>