<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.importExpress.mapper.AliProductMapper">
    <resultMap id="aliProductResultMap" type="com.importExpress.pojo.AliProductBean">
        <id column="id" property="id"/>
        <result column="ali_pid" property="aliPid"/>
        <result column="ali_name" property="aliName"/>
        <result column="ali_img" property="aliImg"/>
        <result column="ali_price" property="aliPrice"/>
        <result column="ali_url" property="aliUrl"/>
        <result column="li_unit" property="aliUnit"/>
        <result column="keyword" property="keyword"/>
        <result column="ali_catid" property="aliCatid"/>
        <result column="ali_weight" property="aliWeight"/>
        <result column="admin_id" property="adminId"/>
        <result column="create_time" property="createTime"/>
        <result column="deal_state" property="dealState"/>
        <result column="admin_name" property="adminName"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="importProductResultMap" type="com.importExpress.pojo.ImportProductBean">
        <id column="id" property="id"/>
        <result column="ali_pid" property="aliPid"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="img" property="img"/>
        <result column="price" property="price"/>
        <result column="url" property="url"/>
        <result column="unit" property="unit"/>
        <result column="catid" property="catid"/>
        <result column="weight" property="weight"/>
        <result column="remotpath" property="remotePath"/>
        <result column="create_time" property="createTime"/>
        <result column="is_sold_flag" property="isSoldFlag"/>
        <result column="feeprice" property="feeprice"/>
        <result column="wprice" property="wprice"/>
        <result column="range_price" property="rangePrice"/>
        <result column="deal_state" property="dealState"/>
        <result column="is_sold_flag" property="isSoldFlag"/>
        <result column="morder" property="moq"/>
        <result column="sold" property="sold"/>
        <result column="bm_flag" property="bmFlag"/>
        <result column="isBenchmark" property="isBenchmark"/>
        <result column="old_ali_pid" property="oldAliPid"/>
        <result column="valid" property="valid"/>
        <result column="sold_flag" property="soldFlag"/>
        <result column="is_edit" property="isEdit"/>
        <result column="bargain_number" property="bargainNumber"/>
    </resultMap>

    <resultMap id="goods1688OfferResultMap" type="com.importExpress.pojo.Goods1688OfferBean">
        <id column="id" property="id"/>
        <id column="goods_name" property="goods_name"/>
        <id column="price" property="price"/>
        <id column="shop_id" property="shop_id"/>
        <id column="bargain_number" property="bargain_number"/>
        <id column="standard" property="standard"/>
        <id column="sku" property="sku"/>
        <id column="color" property="color"/>
        <id column="pic" property="pic"/>
        <id column="pics" property="pics"/>
        <id column="pics1" property="pics1"/>
        <id column="iDetailData" property="iDetailData"/>
        <id column="iDetailConfig" property="iDetailConfig"/>
        <id column="detail" property="detail"/>
        <id column="detail_url" property="detail_url"/>
        <id column="weight" property="weight"/>
        <id column="weight_url" property="weight_url"/>
        <id column="addtime" property="addtime"/>
        <id column="serviceid" property="serviceid"/>
        <id column="tag_name" property="tag_name"/>
        <id column="catid" property="catid"/>
        <id column="keywords" property="keywords"/>
        <id column="average_deliver_time" property="average_deliver_time"/>
        <id column="dl_flag" property="dl_flag"/>
        <id column="set_weight" property="set_weight"/>
        <id column="goods_pid" property="goods_pid"/>
        <id column="good_url" property="good_url"/>
        <id column="crawl_flag" property="crawl_flag"/>
        <id column="shop_name" property="shop_name"/>
        <id column="from_flag" property="from_flag"/>
     </resultMap>

    <select id="queryForList" resultMap="aliProductResultMap" parameterType="com.importExpress.pojo.AliProductBean">
        select a.id,a.ali_pid,a.ali_name,a.ali_url,a.ali_price,a.ali_img,a.keyword,
        DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') as create_time,a.deal_state,a.admin_id,
        DATE_FORMAT(a.update_time,'%Y-%m-%d %H:%i:%S') as update_time,b.admName as admin_name
        from aa_aliexpress_product a left join admuser b on a.admin_id = b.id
        where 1=1
        <if test="aliPid != null">
            and a.ali_pid = #{aliPid}
        </if>
        <if test="keyword != null">
            and a.keyword = #{keyword}
        </if>
        <if test="aliCatid != null">
            and a.ali_catid = #{aliCatid}
        </if>
        <if test="adminId != null and adminId > 0">
            and a.admin_id = #{adminId}
        </if>
        <if test="dealState != null">
            and a.deal_state = #{dealState}
        </if>
        order by id desc
        <if test="limitNum > 0">
            limit #{startNum},#{limitNum}
        </if>
    </select>


    <select id="queryForListCount" resultType="java.lang.Integer" parameterType="com.importExpress.pojo.AliProductBean">
        select count(1)
        from aa_aliexpress_product
        where 1=1
        <if test="aliPid != null">
            and ali_pid = #{aliPid}
        </if>
        <if test="keyword != null">
            and keyword = #{keyword}
        </if>
        <if test="aliCatid != null">
            and ali_catid = #{aliCatid}
        </if>
        <if test="adminId != null and adminId > 0">
            and admin_id = #{adminId}
        </if>
        <if test="dealState != null">
            and deal_state = #{dealState}
        </if>
    </select>


    <select id="query1688ByLire" resultMap="importProductResultMap">
        select a.id,a.ali_pid,a.pid,b.price,a.match_local_path as img, b.sellunit as unit,b.catid1 as catid,b.weight,
        DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') as create_time,a.match_remote_path as remotpath,b.enname as name,
        b.wprice,b.range_price,b.is_sold_flag,b.feeprice,a.deal_state,b.sold,b.morder,b.ali_pid as old_ali_pid,
        b.bm_flag ,b.isBenchmark,b.valid,b.sold_flag,ifnull(c.is_edited,0) as is_edit
        from aa_ali_product_lire a
        INNER JOIN custom_benchmark_ready b
        on a.pid = b.pid  
				LEFT JOIN custom_goods_edit c
				on b.pid = c.pid and c.is_edited=1
        where a.ali_pid = #{aliPid}
        limit 4 
    </select>


    <select id="query1688ByPython" resultMap="importProductResultMap">
        select a.id,a.ali_pid,b.goods_pid as pid,b.price,b.pic as img,b.set_weight as weight,
        DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') as create_time,b.goods_name as name,
        a.deal_state,b.good_url as url,b.bargain_number
        from aa_ali_product_python a,aa_goods_offers_python b
        where a.pid = b.goods_pid and a.ali_pid = #{aliPid}
        limit 4
    </select>

    <update id="setAliFlag">
        update aa_aliexpress_product
        set deal_state = #{dealState},admin_id = #{adminId}
        where ali_pid = #{aliPid}
    </update>

    <update id="set1688PidFlag">
        update aa_ali_product_lire
        set deal_state = #{dealState},admin_id = #{adminId}
        where ali_pid = #{aliPid} and pid = #{pid}
    </update>


    <update id="setDevelop1688PidFlag">
        update aa_aliexpress_product a,aa_ali_product_python b
        set a.deal_state = 3,b.deal_state =1,b.admin_id = #{adminId}
        where a.ali_pid = b.ali_pid and a.ali_pid = #{aliPid} and b.pid = #{pid}
    </update>

    <select id="queryGoodsOffersByPid" resultMap="goods1688OfferResultMap">
        select goods_name, price,shop_id,bargain_number, standard, sku,
        color, pic, pics, pics1,iDetailData, iDetailConfig, detail,detail_url,
        weight, weight_url,addtime,serviceid, tag_name,catid, keywords, average_deliver_time,
        dl_flag,set_weight,goods_pid,good_url,crawl_flag,shop_name,from_flag
        from aa_goods_offers_python
        where goods_pid = #{pid}
    </select>
    
</mapper>