<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.importExpress.mapper.BuyForMeMapper" >
  <resultMap id="infoResultMap" type="com.importExpress.pojo.BFOrderInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="pay_price" property="payPrice" jdbcType="VARCHAR" />
    <result column="product_cost" property="productCost" jdbcType="VARCHAR" />
    <result column="delivery_time" property="deliveryTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="delivery_method" property="method" jdbcType="VARCHAR" />
    <result column="ship_feight" property="feight" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admName" property="adminName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="detailResultMap" type="com.importExpress.pojo.BFOrderDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="num_iid" property="numIid" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="detail_url" property="detailUrl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark_replay" property="remarkReplay" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="skuResultMap" type="com.importExpress.pojo.BFOrderDetailSku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bf_id" property="bfId" jdbcType="INTEGER" />
    <result column="bf_details_id" property="bfDetailsId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="num_iid" property="numIid" jdbcType="VARCHAR" />
    <result column="skuid" property="skuid" jdbcType="VARCHAR" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="price_buy" property="priceBuy" jdbcType="VARCHAR" />
    <result column="price_buy_c" property="priceBuyc" jdbcType="VARCHAR" />
    <result column="ship_feight" property="shipFeight" jdbcType="VARCHAR" />
    <result column="product_url" property="productUrl" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="admMap" type="com.cbt.pojo.Admuser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admName" property="admname" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="zoneBeanMap" type="com.importExpress.pojo.ZoneBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getOrders" resultMap="infoResultMap">
  select a.id,a.order_no,a.user_id,a.state,a.pay_price,a.product_cost,a.delivery_time,
  a.address_id,a.create_time,a.update_time,a.admin_id,a.ip,a.remark,a.ship_feight,a.delivery_method,b.admName
  from buyforme_orderinfo a left join admin_r_user b on a.admin_id=b.adminid
  
  where 1=1
  <if test="state !=-2">and a.state=#{state}</if>
  <if test="orderNo !=null">and a.order_no=#{orderNo}</if>
  <if test="userId !=null">and a.user_id=#{userId}</if>
  <if test="admid !=0">and a.admin_id=#{admid}</if>
  order by a.create_time desc
  limit #{page},30
  </select>
  
  <select id="getOrdersCount" resultType="Integer">
  select  count(*) from buyforme_orderinfo where 1=1
  <if test="state !=-2">and state=#{state}</if>
  <if test="orderNo !=null">and order_no=#{orderNo}</if>
  <if test="userId !=null">and user_id=#{userId}</if>
  <if test="admid !=0">and admin_id=#{admid}</if>
  </select>
  
  <select id="getOrderDetails" resultMap="detailResultMap">
  select id,order_no,title,pic_url,price,num_iid,num,detail_url,state,remark,create_time,remark_replay 
  from buyforme_details where order_no=#{orderNo}
  </select>
  
  <select id="getOrderDetailsSku" resultMap="skuResultMap">
  select id,bf_id,bf_details_id,num_iid,skuid,price,num,remark,state,product_url,sku,price_buy,price_buy_c,ship_feight,weight,unit
  from buyforme_details_sku where bf_id= #{bfId}
  </select>
  
  <insert id="addOrderDetailsSku" parameterType="com.importExpress.pojo.BFOrderDetailSku">
  insert into buyforme_details_sku(bf_id,bf_details_id,num_iid,skuid,price,num,remark,
  state,product_url,sku,price_buy,price_buy_c,ship_feight,weight,unit) 
  values(#{bfId},#{bfDetailsId},#{numIid},#{skuid},#{price},#{num},#{remark},#{state},
  #{productUrl},#{sku},#{priceBuy},#{priceBuyc},#{shipFeight},#{weight},#{unit})
  </insert>
  
  <update id="updateOrderDetailsSku" parameterType="com.importExpress.pojo.BFOrderDetailSku">
  update buyforme_details_sku set sku=#{sku},product_url=#{productUrl},num=#{num},price=#{price},
  ship_feight=#{shipFeight},price_buy=#{priceBuy},price_buy_c=#{priceBuyc},weight=#{weight},unit=#{unit} 
  where id=#{id}
  </update>
  
    <update id="updateOrderDetailsSkuWeight">
  update buyforme_details_sku set weight=#{weight}
  where bf_details_id=#{bfdid}
  </update>
  
  <update id="updateOrderDetailsSkuState">
  update buyforme_details_sku set state=#{state} where id=#{id}
  </update>
  <update id="updateOrdersDetailsState">
  update buyforme_details set state=#{state} where id=#{id}
  </update>
  <update id="updateOrdersState">
  update buyforme_orderinfo set state=#{state} where id=#{id}
  </update>
  
    <update id="updateOrdersDetailsRemark">
  update buyforme_details set remark_replay=#{remark} where id=#{id}
  </update>
  
  <select id="getOrder" resultType="Map">
  select  a.id as bf_id,a.create_time,a.order_no,a.user_id,b.name,b.email,a.state,c.address,a.delivery_time,
  a.delivery_method,a.ship_feight,a.sample_flag,a.address_id,c.recipients,
   c.address2,c.phone_number,c.zip_code,c.statename,c.street,c.address_email,d.country,c.country as countryId
  from buyforme_orderinfo a left join user b on a.user_id=b.id 
  left join buyforme_address c on a.address_id=c.id 
  left join zone d on c.country=d.id
  where a.order_no=#{orderNo}
  </select>
  
  <update id="updateDeliveryTime">update buyforme_orderinfo set delivery_time = #{time},ship_feight=#{feight},delivery_method=#{method} where order_no=#{orderNo}</update>
  <insert id="insertRemark">insert into buyforme_remark (remark,order_no,create_time) values (#{remark},#{orderNo},now())</insert>
  
  <select id="getRemark" resultType="java.util.Map">select remark,create_time from buyforme_remark where order_no=#{orderNo}</select>
  
  <select id="getTransport" resultType="java.util.Map">SELECT  transport_mode,shipping_time from tab_transit_freightinfo_unite_new GROUP BY transport_mode,shipping_time</select>

<update id="updateOrdersAddress">
update buyforme_address set address=#{address},address2=#{address2},
country=#{country},phone_number=#{phone},zip_code=#{code},recipients=#{recipients},
statename=#{statename},street=#{street}  where id=#{id}
</update>

<select id="lstAdms" resultMap="admMap">select  id,admName from  admuser where roleType=4 and status=1</select>

<update id="deleteProduct"> 
update buyforme_details a left join  buyforme_details_sku b on a.id=b.bf_details_id 
set a.state=-1,b.state=-1 where a.id=#{bfdid}
</update>

<select id="lstCountry" resultMap="zoneBeanMap">select id,country from zone </select>

</mapper>