<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.importExpress.mapper.GoodsCarconfigMapper" >
  <resultMap id="BaseResultMap" type="com.importExpress.pojo.GoodsCarconfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="shippingname" property="shippingname" jdbcType="VARCHAR" />
    <result column="shippingcost" property="shippingcost" jdbcType="DOUBLE" />
    <result column="shippingdays" property="shippingdays" jdbcType="VARCHAR" />
    <result column="changeexpress" property="changeexpress" jdbcType="INTEGER" />
    <result column="save_freight" property="saveFreight" jdbcType="DOUBLE" />
    <result column="addFlag" property="addflag" jdbcType="INTEGER" />
    <result column="userCookieId" property="usercookieid" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="total_freight" property="totalFreight" jdbcType="DOUBLE" />
    <result column="sum_type_price" property="sumTypePrice" jdbcType="VARCHAR" />
    <result column="fastShipBalance" property="fastshipbalance" jdbcType="DOUBLE" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="usermark" property="usermark" jdbcType="INTEGER" />
    <result column="needCheck" property="needcheck" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.importExpress.pojo.GoodsCarconfigWithBLOBs" extends="BaseResultMap" >
    <result column="shopCarinfo" property="shopcarinfo" jdbcType="LONGVARCHAR" />
    <result column="shopCarShowinfo" property="shopcarshowinfo" jdbcType="LONGVARCHAR" />
    <result column="saveForLaterShowinfo" property="saveforlatershowinfo" jdbcType="LONGVARCHAR" />
    <result column="saveForLaterinfo" property="saveforlaterinfo" jdbcType="LONGVARCHAR" />
    <result column="buyForMeCarConfig" property="buyformecarconfig" jdbcType="LONGVARCHAR" />
    <result column="kidscarconfig" property="kidscarconfig" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, shippingname, shippingcost, shippingdays, changeexpress, save_freight, 
    addFlag, userCookieId, updateTime, total_freight, sum_type_price, fastShipBalance, 
    flag, usermark, needCheck
  </sql>
  <sql id="Blob_Column_List" >
    shopCarinfo, shopCarShowinfo, saveForLaterShowinfo, saveForLaterinfo, buyForMeCarConfig, kidscarconfig
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.importExpress.pojo.GoodsCarconfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    userid,userCookieId
    ,
    buyForMeCarConfig
    from goods_carconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.importExpress.pojo.GoodsCarconfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_carconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods_carconfig
    where userid = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_carconfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.importExpress.pojo.GoodsCarconfigExample" >
    delete from goods_carconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.importExpress.pojo.GoodsCarconfigWithBLOBs" >
    insert into goods_carconfig (id, userid, shippingname, 
      shippingcost, shippingdays, changeexpress, 
      save_freight, addFlag, userCookieId, 
      updateTime, total_freight, sum_type_price, 
      fastShipBalance, flag, usermark, 
      needCheck, shopCarinfo, shopCarShowinfo, 
      saveForLaterShowinfo, saveForLaterinfo, 
      buyForMeCarConfig)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{shippingname,jdbcType=VARCHAR}, 
      #{shippingcost,jdbcType=DOUBLE}, #{shippingdays,jdbcType=VARCHAR}, #{changeexpress,jdbcType=INTEGER}, 
      #{saveFreight,jdbcType=DOUBLE}, #{addflag,jdbcType=INTEGER}, #{usercookieid,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{totalFreight,jdbcType=DOUBLE}, #{sumTypePrice,jdbcType=VARCHAR}, 
      #{fastshipbalance,jdbcType=DOUBLE}, #{flag,jdbcType=INTEGER}, #{usermark,jdbcType=INTEGER}, 
      #{needcheck,jdbcType=INTEGER}, #{shopcarinfo,jdbcType=LONGVARCHAR}, #{shopcarshowinfo,jdbcType=LONGVARCHAR}, 
      #{saveforlatershowinfo,jdbcType=LONGVARCHAR}, #{saveforlaterinfo,jdbcType=LONGVARCHAR}, 
      #{buyformecarconfig,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.importExpress.pojo.GoodsCarconfigWithBLOBs" >
    insert into goods_carconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="shippingname != null" >
        shippingname,
      </if>
      <if test="shippingcost != null" >
        shippingcost,
      </if>
      <if test="shippingdays != null" >
        shippingdays,
      </if>
      <if test="changeexpress != null" >
        changeexpress,
      </if>
      <if test="saveFreight != null" >
        save_freight,
      </if>
      <if test="addflag != null" >
        addFlag,
      </if>
      <if test="usercookieid != null" >
        userCookieId,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="totalFreight != null" >
        total_freight,
      </if>
      <if test="sumTypePrice != null" >
        sum_type_price,
      </if>
      <if test="fastshipbalance != null" >
        fastShipBalance,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="usermark != null" >
        usermark,
      </if>
      <if test="needcheck != null" >
        needCheck,
      </if>
      <if test="shopcarinfo != null" >
        shopCarinfo,
      </if>
      <if test="shopcarshowinfo != null" >
        shopCarShowinfo,
      </if>
      <if test="saveforlatershowinfo != null" >
        saveForLaterShowinfo,
      </if>
      <if test="saveforlaterinfo != null" >
        saveForLaterinfo,
      </if>
      <if test="buyformecarconfig != null" >
        buyForMeCarConfig,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="shippingname != null" >
        #{shippingname,jdbcType=VARCHAR},
      </if>
      <if test="shippingcost != null" >
        #{shippingcost,jdbcType=DOUBLE},
      </if>
      <if test="shippingdays != null" >
        #{shippingdays,jdbcType=VARCHAR},
      </if>
      <if test="changeexpress != null" >
        #{changeexpress,jdbcType=INTEGER},
      </if>
      <if test="saveFreight != null" >
        #{saveFreight,jdbcType=DOUBLE},
      </if>
      <if test="addflag != null" >
        #{addflag,jdbcType=INTEGER},
      </if>
      <if test="usercookieid != null" >
        #{usercookieid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFreight != null" >
        #{totalFreight,jdbcType=DOUBLE},
      </if>
      <if test="sumTypePrice != null" >
        #{sumTypePrice,jdbcType=VARCHAR},
      </if>
      <if test="fastshipbalance != null" >
        #{fastshipbalance,jdbcType=DOUBLE},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="usermark != null" >
        #{usermark,jdbcType=INTEGER},
      </if>
      <if test="needcheck != null" >
        #{needcheck,jdbcType=INTEGER},
      </if>
      <if test="shopcarinfo != null" >
        #{shopcarinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="shopcarshowinfo != null" >
        #{shopcarshowinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="saveforlatershowinfo != null" >
        #{saveforlatershowinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="saveforlaterinfo != null" >
        #{saveforlaterinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="buyformecarconfig != null" >
        #{buyformecarconfig,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.importExpress.pojo.GoodsCarconfigExample" resultType="java.lang.Integer" >
    select count(*) from goods_carconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods_carconfig
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.shippingname != null" >
        shippingname = #{record.shippingname,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingcost != null" >
        shippingcost = #{record.shippingcost,jdbcType=DOUBLE},
      </if>
      <if test="record.shippingdays != null" >
        shippingdays = #{record.shippingdays,jdbcType=VARCHAR},
      </if>
      <if test="record.changeexpress != null" >
        changeexpress = #{record.changeexpress,jdbcType=INTEGER},
      </if>
      <if test="record.saveFreight != null" >
        save_freight = #{record.saveFreight,jdbcType=DOUBLE},
      </if>
      <if test="record.addflag != null" >
        addFlag = #{record.addflag,jdbcType=INTEGER},
      </if>
      <if test="record.usercookieid != null" >
        userCookieId = #{record.usercookieid,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalFreight != null" >
        total_freight = #{record.totalFreight,jdbcType=DOUBLE},
      </if>
      <if test="record.sumTypePrice != null" >
        sum_type_price = #{record.sumTypePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.fastshipbalance != null" >
        fastShipBalance = #{record.fastshipbalance,jdbcType=DOUBLE},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.usermark != null" >
        usermark = #{record.usermark,jdbcType=INTEGER},
      </if>
      <if test="record.needcheck != null" >
        needCheck = #{record.needcheck,jdbcType=INTEGER},
      </if>
      <if test="record.shopcarinfo != null" >
        shopCarinfo = #{record.shopcarinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shopcarshowinfo != null" >
        shopCarShowinfo = #{record.shopcarshowinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.saveforlatershowinfo != null" >
        saveForLaterShowinfo = #{record.saveforlatershowinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.saveforlaterinfo != null" >
        saveForLaterinfo = #{record.saveforlaterinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.buyformecarconfig != null" >
        buyForMeCarConfig = #{record.buyformecarconfig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update goods_carconfig
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      shippingname = #{record.shippingname,jdbcType=VARCHAR},
      shippingcost = #{record.shippingcost,jdbcType=DOUBLE},
      shippingdays = #{record.shippingdays,jdbcType=VARCHAR},
      changeexpress = #{record.changeexpress,jdbcType=INTEGER},
      save_freight = #{record.saveFreight,jdbcType=DOUBLE},
      addFlag = #{record.addflag,jdbcType=INTEGER},
      userCookieId = #{record.usercookieid,jdbcType=VARCHAR},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      total_freight = #{record.totalFreight,jdbcType=DOUBLE},
      sum_type_price = #{record.sumTypePrice,jdbcType=VARCHAR},
      fastShipBalance = #{record.fastshipbalance,jdbcType=DOUBLE},
      flag = #{record.flag,jdbcType=INTEGER},
      usermark = #{record.usermark,jdbcType=INTEGER},
      needCheck = #{record.needcheck,jdbcType=INTEGER},
      shopCarinfo = #{record.shopcarinfo,jdbcType=LONGVARCHAR},
      shopCarShowinfo = #{record.shopcarshowinfo,jdbcType=LONGVARCHAR},
      saveForLaterShowinfo = #{record.saveforlatershowinfo,jdbcType=LONGVARCHAR},
      saveForLaterinfo = #{record.saveforlaterinfo,jdbcType=LONGVARCHAR},
      buyForMeCarConfig = #{record.buyformecarconfig,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods_carconfig
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      shippingname = #{record.shippingname,jdbcType=VARCHAR},
      shippingcost = #{record.shippingcost,jdbcType=DOUBLE},
      shippingdays = #{record.shippingdays,jdbcType=VARCHAR},
      changeexpress = #{record.changeexpress,jdbcType=INTEGER},
      save_freight = #{record.saveFreight,jdbcType=DOUBLE},
      addFlag = #{record.addflag,jdbcType=INTEGER},
      userCookieId = #{record.usercookieid,jdbcType=VARCHAR},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      total_freight = #{record.totalFreight,jdbcType=DOUBLE},
      sum_type_price = #{record.sumTypePrice,jdbcType=VARCHAR},
      fastShipBalance = #{record.fastshipbalance,jdbcType=DOUBLE},
      flag = #{record.flag,jdbcType=INTEGER},
      usermark = #{record.usermark,jdbcType=INTEGER},
      needCheck = #{record.needcheck,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.importExpress.pojo.GoodsCarconfigWithBLOBs" >
    update goods_carconfig
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="shippingname != null" >
        shippingname = #{shippingname,jdbcType=VARCHAR},
      </if>
      <if test="shippingcost != null" >
        shippingcost = #{shippingcost,jdbcType=DOUBLE},
      </if>
      <if test="shippingdays != null" >
        shippingdays = #{shippingdays,jdbcType=VARCHAR},
      </if>
      <if test="changeexpress != null" >
        changeexpress = #{changeexpress,jdbcType=INTEGER},
      </if>
      <if test="saveFreight != null" >
        save_freight = #{saveFreight,jdbcType=DOUBLE},
      </if>
      <if test="addflag != null" >
        addFlag = #{addflag,jdbcType=INTEGER},
      </if>
      <if test="usercookieid != null" >
        userCookieId = #{usercookieid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFreight != null" >
        total_freight = #{totalFreight,jdbcType=DOUBLE},
      </if>
      <if test="sumTypePrice != null" >
        sum_type_price = #{sumTypePrice,jdbcType=VARCHAR},
      </if>
      <if test="fastshipbalance != null" >
        fastShipBalance = #{fastshipbalance,jdbcType=DOUBLE},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="usermark != null" >
        usermark = #{usermark,jdbcType=INTEGER},
      </if>
      <if test="needcheck != null" >
        needCheck = #{needcheck,jdbcType=INTEGER},
      </if>
      <if test="shopcarinfo != null" >
        shopCarinfo = #{shopcarinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="shopcarshowinfo != null" >
        shopCarShowinfo = #{shopcarshowinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="saveforlatershowinfo != null" >
        saveForLaterShowinfo = #{saveforlatershowinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="saveforlaterinfo != null" >
        saveForLaterinfo = #{saveforlaterinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="buyformecarconfig != null" >
        buyForMeCarConfig = #{buyformecarconfig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.importExpress.pojo.GoodsCarconfigWithBLOBs" >
    update goods_carconfig
    set userid = #{userid,jdbcType=INTEGER},
      shippingname = #{shippingname,jdbcType=VARCHAR},
      shippingcost = #{shippingcost,jdbcType=DOUBLE},
      shippingdays = #{shippingdays,jdbcType=VARCHAR},
      changeexpress = #{changeexpress,jdbcType=INTEGER},
      save_freight = #{saveFreight,jdbcType=DOUBLE},
      addFlag = #{addflag,jdbcType=INTEGER},
      userCookieId = #{usercookieid,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      total_freight = #{totalFreight,jdbcType=DOUBLE},
      sum_type_price = #{sumTypePrice,jdbcType=VARCHAR},
      fastShipBalance = #{fastshipbalance,jdbcType=DOUBLE},
      flag = #{flag,jdbcType=INTEGER},
      usermark = #{usermark,jdbcType=INTEGER},
      needCheck = #{needcheck,jdbcType=INTEGER},
      shopCarinfo = #{shopcarinfo,jdbcType=LONGVARCHAR},
      shopCarShowinfo = #{shopcarshowinfo,jdbcType=LONGVARCHAR},
      saveForLaterShowinfo = #{saveforlatershowinfo,jdbcType=LONGVARCHAR},
      saveForLaterinfo = #{saveforlaterinfo,jdbcType=LONGVARCHAR},
      buyForMeCarConfig = #{buyformecarconfig,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.importExpress.pojo.GoodsCarconfig" >
    update goods_carconfig
    set userid = #{userid,jdbcType=INTEGER},
      shippingname = #{shippingname,jdbcType=VARCHAR},
      shippingcost = #{shippingcost,jdbcType=DOUBLE},
      shippingdays = #{shippingdays,jdbcType=VARCHAR},
      changeexpress = #{changeexpress,jdbcType=INTEGER},
      save_freight = #{saveFreight,jdbcType=DOUBLE},
      addFlag = #{addflag,jdbcType=INTEGER},
      userCookieId = #{usercookieid,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      total_freight = #{totalFreight,jdbcType=DOUBLE},
      sum_type_price = #{sumTypePrice,jdbcType=VARCHAR},
      fastShipBalance = #{fastshipbalance,jdbcType=DOUBLE},
      flag = #{flag,jdbcType=INTEGER},
      usermark = #{usermark,jdbcType=INTEGER},
      needCheck = #{needcheck,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryByIsNew" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods_carconfig
    where is_new = 1
    <if test=" userId > 0 ">
      and userid = #{userId,jdbcType=INTEGER}
    </if>
    <if test=" userId == 0 ">
      and userid > 0
    </if>
  </select>
  <update id="updateByIdAndUserId">
  update goods_carconfig
  set is_new = 0,updateTime = now()
  where id = #{id,jdbcType=INTEGER} and userid = #{userId,jdbcType=INTEGER}
  </update>
</mapper>