<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.importExpress.mapper.OverseasWarehouseStockMapper" >
  <resultMap id="StockResultMap" type="com.importExpress.pojo.OverseasWarehouseStock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ow_stock" property="owStock" jdbcType="INTEGER" />
    <result column="order_stock" property="orderStock" jdbcType="INTEGER" />
    <result column="available_stock" property="availableStock" jdbcType="INTEGER" />
    <result column="goods_pid" property="goodsPid" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="code_n" property="coden" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="skuid" property="skuid" jdbcType="VARCHAR" />
    <result column="specid" property="specid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="StockLogResultMap" type="com.importExpress.pojo.OverseasWarehouseStockWrap" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_pid" property="goodsPid" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="skuid" property="skuid" jdbcType="VARCHAR" />
    <result column="specid" property="specid" jdbcType="VARCHAR" />
    <result column="stock_remark" property="stockRemark" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="code_n" property="coden" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="ows_id" property="owsid" jdbcType="INTEGER" />
    <result column="od_id" property="odid" jdbcType="INTEGER" />
    <result column="orderno" property="orderno" jdbcType="INTEGER" />
    <result column="change_stock" property="changeStock" jdbcType="INTEGER" />
    <result column="change_type" property="changeType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="occupy" property="occupy" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="getLogByOrderno" resultMap="StockLogResultMap">
  select id,ows_id, change_stock,od_id,orderno,change_type,remark,code,code_n,create_time 
  from  overseas_warehouse_stock_log where orderno=#{orderno} order by change_type asc
  </select>
  
<!-- 最近一次同步时间  -->
	<select id="getLastSyncStock" resultType="String">
	select create_time from overseas_warehouse_stock_synchronization order by id desc limit 1
	</select>
	<!-- 库存列表  -->
	<select id="getStockList" resultMap="StockResultMap" parameterType="com.importExpress.pojo.OverseasWarehouseStockParamter">
	select id,ow_stock,order_stock,available_stock,goods_pid,goods_name,code,sku,skuid,specid,create_time,update_time,remark
	from overseas_warehouse_stock where 1=1
	<if test="goodsPid != null"> and goods_pid=#{goodsPid}</if>
	<if test="skuid != null"> and skuid=#{skuid}</if>
	limit #{page},20
	</select>
	<!-- 库存列表数量 -->
	<select id="getStockListCount" resultType="Integer" parameterType="com.importExpress.pojo.OverseasWarehouseStockParamter">
	select count(*)
	from overseas_warehouse_stock where 1=1
	<if test="goodsPid != null"> and goods_pid=#{goodsPid}</if>
	<if test="skuid != null"> and skuid=#{skuid}</if>
	
	</select>
	<!-- 库存日志列表  -->
	<select id="getStockLogList" resultMap="StockLogResultMap" parameterType="com.importExpress.pojo.OverseasWarehouseStockParamter">
	
	select a.id,a.ows_id,a.od_id,a.orderno,a.change_stock,a.change_type,a.create_time,a.remark,a.code,a.occupy,
	b.goods_pid,b.goods_name,b.sku,b.skuid,b.specid,b.remark as stock_remark from overseas_warehouse_stock_log a
	left join overseas_warehouse_stock b on a.ows_id=b.id where 1=1
	
	<if test="owsid!=0"> and a.ows_id=#{owsid}</if>
	<if test="code != null"> and a.code=#{code}</if>
	<if test="goodsPid != null"> and b.goods_pid=#{goodsPid}</if>
	<if test="skuid != null"> and b.skuid=#{skuid}</if>
	<if test="changeType != -1"> and a.change_type=#{changeType}</if>
	<if test="odid != 0"> and a.od_id=#{odid}</if>
	order by a.create_time asc
	limit #{page},20
	</select>
	<!-- 库存日志列表数量 -->
	<select id="getStockLogListCount" resultType="Integer" parameterType="com.importExpress.pojo.OverseasWarehouseStockParamter">

	select count(a.id) from overseas_warehouse_stock_log a
	left join overseas_warehouse_stock b on a.ows_id=b.id
	where 1=1
	<if test="owsid!=0"> and a.ows_id=#{owsid}</if>
	<if test="code != null"> and a.code=#{code}</if>
	<if test="goodsPid != null"> and b.goods_pid=#{goodsPid}</if>
	<if test="skuid != null"> and b.skuid=#{skuid}</if>
	<if test="changeType != -1"> and a.change_type=#{changeType}</if>
	<if test="odid != 0"> and a.od_id=#{odid}</if>
	
	</select>
	
	<insert id="addSyncStockTime">insert into overseas_warehouse_stock_synchronization(create_time,sync_count) values(now(),#{syncCount})</insert>
	
	<select id="getOrderDetails" resultType="java.util.Map">
	select od.orderid,od.id as odid,od.yourorder,od.goods_pid,od.car_type,
	ows.code_n,ows.code,ows.ows_id,ows.change_type
	from order_details od left join overseas_warehouse_stock_log ows on od.id=ows.od_id 
	where ows.change_type in(0,1) and od.orderid like '%_H%'
	<if test="orderno!=null">and od.orderid=#{orderno}</if>
	<if test="odid!=0">and od.id=#{odid}</if>
	order by od.id asc,ows.change_type desc
	</select>
	
</mapper>