<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.importExpress.mapper.QueryUserMapper">
	
	<!-- List<String> queryDropShipUserId(); -->
	<select id="queryDropShipUserId" resultType="String">
		SELECT oi.user_id FROM(
			SELECT DISTINCT user_id FROM orderinfo WHERE isDropshipOrder = 1 AND state > 0
		) oi 
		, `user` tem WHERE oi.user_id = tem.id 
		AND
		(
			tem.email not like '%qq.com%' and tem.email not like '%ww.com%' and 
			tem.email not like 'test%'   and  tem.email not like '%qq.ss' and tem.email not like '%@q.ocm' and 
			tem.email not like '%qqsss.com' and  tem.email not like '%csmfg.com%'  and  tem.email not like '%@sourcing-cn.com%'  and 
			tem.email not like '%@china-synergy%'  and tem.email <![CDATA[ <> ]]> 'sb33@gmail.com'  and tem.email  <![CDATA[ <> ]]>  'sbtest@gmail.com'  and 
			tem.email not like '%@qq.co%' and tem.email not like '%11.com' and tem.email not like '%@qq.ocm' and tem.email not like '%@163.com' 
		)
    </select>
    
    <!-- List<String> queryCarGoods(); -->
    <select id="queryCarGoods" resultType="String">
    	SELECT CONCAT(userid,'@',updateTime) 
    	FROM goods_carconfig 
    	WHERE userid is not null AND LENGTH(shopCarShowinfo) > 5
    </select>
    
    <!-- void insertStaticizeData(List<ItemStaticFile> list); -->
	<insert id="insertStaticizeData" parameterType="list">
    	<!-- 清空临时表中原本数据 之后重新生成 -->
    	TRUNCATE TABLE staticize_goods_html_sel;
    	<!-- 查询数据 -->
    	INSERT INTO staticize_goods_html_sel (item_static_file , create_time, createdate)
    	VALUES
    	<foreach collection="list" separator="," item="item">
    		(#{item.itemStaticFile}, #{item.createTime}, NOW())
    	</foreach>
    	;
    	<!-- 更新pid -->
		UPDATE staticize_goods_html_sel
		SET pid = SUBSTRING_INDEX(SUBSTRING_INDEX(item_static_file,'-',-1),'.',1);
		<!-- 更新catid1字段 -->
		UPDATE staticize_goods_html_sel a, custom_benchmark_ready b
		SET a.catid1 = b.catid1
		WHERE a.pid = b.pid;
    </insert>

    <insert id="insertOrderShare" >

        INSERT INTO order_share (shop_type , order_no, goods_price,goods_img,create_time,goods_pid,yourorder)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{shopType},#{orderNo},#{item.goodsPrice}, #{item.goodsImg}, NOW(),#{item.goodsPid},#{item.yourorder})
        </foreach>

    </insert>



	<!-- String queryStaticizeTime(); -->
    <select id="queryStaticizeTime" resultType="String">
        SELECT createdate
		FROM staticize_goods_html_sel
		LIMIT 1
    </select>
    
    <!-- List<String> queryRandomUser(@Param("startDate") String startDate, @Param("endDate") String endDate, @Param("haveOrder") boolean haveOrder) -->
	<select id="queryRandomUser" resultType="String">
		SELECT uu.id FROM(
			SELECT tem.id FROM `user` tem 
			WHERE 1=1
			<if test="endDate != null and endDate != ''">
                AND #{endDate} >= tem.createtime
            </if>
            <if test="startDate != null and startDate != ''">
                AND tem.createtime >= #{startDate}
            </if>
			AND
			(
				tem.email not like '%qq.com%' and tem.email not like '%ww.com%' and 
				tem.email not like 'test%'   and  tem.email not like '%qq.ss' and tem.email not like '%@q.ocm' and 
				tem.email not like '%qqsss.com' and  tem.email not like '%csmfg.com%'  and  tem.email not like '%@sourcing-cn.com%'  and 
				tem.email not like '%@china-synergy%'  and tem.email <![CDATA[ <> ]]> 'sb33@gmail.com'  and tem.email <![CDATA[ <> ]]> 'sbtest@gmail.com'  and 
				tem.email not like '%@qq.co%' and tem.email not like '%11.com' and tem.email not like '%@qq.ocm' and tem.email not like '%@163.com' 
			)
		) uu
		<if test="haveOrder">
			, orderinfo oi
			WHERE uu.id = oi.user_id AND state > 0
		</if>
	</select>
	
	<!-- List<String> queryLoginUser(List<String> list); -->
	<select id="queryLoginUser" parameterType="list"  resultType="String">
        SELECT 
			concat(<![CDATA[ "https://www.import-express.com/simulateLogin/login?userName=" ]]>, id, <![CDATA[ "&password=" ]]>, name, <![CDATA[ "&currency=USD" ]]>) loginurl 
		FROM `user` WHERE id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    
    <!-- List<String> queryUserByPrice(@Param("price") Integer price); -->
    <select id="queryUserByPrice" resultType="String">
    	SELECT 
		concat(<![CDATA[ "https://www.import-express.com/simulateLogin/login?userName=" ]]>, a.user_id, <![CDATA[ "&password=" ]]>, tem.name, <![CDATA[ "&total=" ]]>, a.total, <![CDATA[ "&currency=USD" ]]>) loginurl 
		FROM
		(SELECT user_id,SUM(if(memberFee>=10,pay_price-memberFee,pay_price)) total FROM orderinfo WHERE state > 0 GROUP BY user_id HAVING SUM(pay_price) >= #{price}) a,
		`user` tem 
		WHERE a.user_id = tem.id
		AND
		(
			tem.email not like '%qq.com%' and tem.email not like '%ww.com%' and 
			tem.email not like 'test%'   and  tem.email not like '%qq.ss' and tem.email not like '%@q.ocm' and 
			tem.email not like '%qqsss.com' and  tem.email not like '%csmfg.com%'  and  tem.email not like '%@sourcing-cn.com%'  and 
			tem.email not like '%@china-synergy%'  and tem.email <![CDATA[ <> ]]> 'sb33@gmail.com'  and tem.email <![CDATA[ <> ]]> 'sbtest@gmail.com'  and 
			tem.email not like '%@qq.co%' and tem.email not like '%11.com' and tem.email not like '%@qq.ocm' and tem.email not like '%@163.com' 
		)
    </select>
    
    <!-- List<Map<String, Object>> queryUserName(List<String> userIdList); -->
    <select id="queryUserName" parameterType="list"  resultType="map">
        SELECT 
			id, name
		FROM `user` WHERE id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    
    <!-- List<GoodsInfoSpiderPO> queryMarkedList(@Param("rows") Integer rows, @Param("orderby") String orderby); -->
    <select id="queryMarkedList" resultType="com.importExpress.pojo.GoodsInfoSpiderPO">
        SELECT id, pid, ali_pid aliPid, price, ali_price aliPrice, img_path imgPath, ali_img_path aliImgPath, flag, marked
		FROM tmp_goods_info_180905_spider 
		WHERE flag in (1,3) AND marked = 0
		<if test="orderby == 'desc'">
			ORDER BY id DESC
		</if>
		LIMIT #{rows}
    </select>
    
    <!-- void updateMarkedById(@Param("id") Long id, @Param("marked") Integer marked); -->
    <update id="updateMarkedById">
    	UPDATE tmp_goods_info_180905_spider SET marked=#{marked} WHERE id=#{id}
    </update>
    
    <!-- Long queryNoMarkedTotal(); -->
    <select id="queryNoMarkedTotal" resultType="long">
        SELECT count(1)
		FROM tmp_goods_info_180905_spider 
		WHERE flag in (1,3) AND marked = 0
    </select>
    
    <!-- List<ItemStaticFile> queryStaticizeData(); -->
    <select id="queryStaticizeData" resultType="com.importExpress.pojo.ItemStaticFile">
        SELECT item_static_file itemStaticFile, create_time createTime 
		FROM staticize_goods_html
    </select>
    
    <!-- void createStandardGoodsForm(); -->
    <insert id="createStandardGoodsForm">
    	<!-- 清空临时表中原本数据 之后重新生成 -->
    	TRUNCATE TABLE standard_goods_form_data;
    	<!-- range_price 价格 -->	
		INSERT IGNORE INTO crossshop.standard_goods_form_data (bm_flag,pid, wprice, feeprice, range_price, online_price, online_ali_price, ali_price, valid, ali_pid, createtime)  
		SELECT bm_flag,pid,wprice,feeprice,range_price,SUBSTRING_INDEX(range_price, '-', 1) online_price,SUBSTRING_INDEX(ali_price, '-', 1) online_ali_price,ali_price,valid, ali_pid, NOW() createtime
		FROM custom_benchmark_ready
		WHERE valid != 0 AND (range_price IS NOT NULL AND range_price != '') AND (bm_flag=1 || isBenchmark=1) and ali_weight>0;
		<!-- 有feeprice价格 用feeprice价格 -->
		INSERT IGNORE INTO crossshop.standard_goods_form_data (bm_flag, pid, wprice, feeprice, range_price, online_price, online_ali_price, ali_price, valid, ali_pid, createtime)  
		SELECT a.bm_flag,a.pid,a.wprice,a.feeprice,a.range_price,REPLACE(SUBSTRING_INDEX(a.b_wprice, ' $ ', -1),']','') online_price,SUBSTRING_INDEX(a.ali_price, '-', 1) online_ali_price,a.ali_price,a.valid, a.ali_pid, NOW() createtime
		FROM (
		SELECT bm_flag,pid,
		wprice,
		feeprice,
		SUBSTRING_INDEX(feeprice, ',', 1) b_wprice,
		range_price,ali_price,valid,ali_pid FROM custom_benchmark_ready
		WHERE valid != 0 AND (range_price IS NULL OR range_price = '') AND (bm_flag=1 || isBenchmark=1) and ali_weight>0 
		AND (feeprice IS NOT NULL AND feeprice != '' AND feeprice !='[]')
		) a;
		<!-- 无feeprice价格 有wprice 价格  用wprice价格 -->
		INSERT IGNORE INTO crossshop.standard_goods_form_data (bm_flag,pid, wprice, feeprice, range_price, online_price, online_ali_price, ali_price, valid, ali_pid, createtime)  
		SELECT a.bm_flag,a.pid,a.wprice,a.feeprice,a.range_price,REPLACE(SUBSTRING_INDEX(a.b_wprice, ' $ ', -1),']','') online_price,SUBSTRING_INDEX(a.ali_price, '-', 1) online_ali_price,a.ali_price,a.valid, a.ali_pid,NOW() createtime
		FROM (
		SELECT bm_flag,pid,
		wprice,
		feeprice,
		SUBSTRING_INDEX(wprice, ',', 1) b_wprice,
		range_price,ali_price,valid,ali_pid FROM custom_benchmark_ready
		WHERE valid != 0 AND (range_price IS NULL OR range_price = '') AND (bm_flag=1 || isBenchmark=1) and ali_weight>0 
		AND (feeprice IS NULL OR feeprice = '' OR feeprice ='[]')
		AND (wprice IS NOT NULL AND wprice != '' AND wprice !='[]') 
		) a;
		<!-- 无feeprice价格 无wprice 价格  用price价格 -->
		INSERT IGNORE INTO crossshop.standard_goods_form_data (bm_flag, pid, wprice, feeprice, range_price, online_price, online_ali_price, ali_price, valid, ali_pid, createtime)  
		SELECT a.bm_flag,a.pid,a.wprice,a.feeprice,a.range_price,price online_price,SUBSTRING_INDEX(a.ali_price, '-', 1) online_ali_price,a.ali_price,a.valid, a.ali_pid,NOW() createtime
		FROM (
		SELECT bm_flag,pid,
		wprice,
		feeprice,
		price,
		range_price,ali_price,valid,ali_pid FROM custom_benchmark_ready
		WHERE valid != 0 AND (range_price IS NULL OR range_price = '') AND (bm_flag=1 || isBenchmark=1) and ali_weight>0
		AND (feeprice IS NULL OR feeprice = '' OR feeprice ='[]')
		AND (wprice IS NULL OR wprice = '' OR wprice ='[]') 
		) a;
		<!-- 更新标识 	对标商品中，我司价格 劣势（贵 10%）的产品-->
		UPDATE standard_goods_form_data 
		SET flag = 2
		WHERE online_price >= online_ali_price * 1.1;
		<!-- 更新标识 	对标商品中，我司价格 有明显优势（便宜20%）的产品-->
		UPDATE standard_goods_form_data 
		SET flag = 1
		WHERE online_ali_price * 0.8 >= online_price;
    </insert>
    
    <!-- String queryCreatetime(); -->
    <select id="queryCreatetime" resultType="String">
    	SELECT createtime FROM standard_goods_form_data LIMIT 1
    </select>
    
    <!-- List<StandardGoodsFormDataPO> queryStandardGoodsFormList(@Param("startBars") Integer startBars, @Param("rows") Integer rows, @Param("flag") Integer flag, @Param("bmFlag") Integer bmFlag, @Param("valid") Integer valid); -->
	<select id="queryStandardGoodsFormList" resultType="com.importExpress.pojo.StandardGoodsFormDataPO">
		SELECT id, pid, wprice, feeprice, range_price rangePrice, online_price onlinePrice, online_ali_price onlineAliPrice, ali_pid aliPid, ali_price aliPrice, valid, createtime, flag, bm_flag bmFlag
		FROM standard_goods_form_data
		<where>
			<if test="valid != null">
				 valid = #{valid}
			</if>
			<if test="flag != null">
				 AND flag = #{flag}
			</if>
			<if test="bmFlag != null">
				 AND bm_flag = #{bmFlag}
			</if>
		</where>
		LIMIT #{startBars},#{rows}
    </select>

	<!-- Long queryStandardGoodsFormCount(@Param("flag") int flag, @Param("bmFlag") int bmFlag, @Param("valid") int valid); -->
	<select id="queryStandardGoodsFormCount" resultType="long">
		SELECT COUNT(1)
		FROM standard_goods_form_data
		<where>
			<if test="valid != null">
				 valid = #{valid}
			</if>
			<if test="flag != null">
				 AND flag = #{flag}
			</if>
			<if test="bmFlag != null">
				 AND bm_flag = #{bmFlag}
			</if>
		</where>
    </select>
    
    <!-- Long queryNoStandardGoodsFormCount(); -->
    <select id="queryNoStandardGoodsFormCount" resultType="long">
		SELECT COUNT(1)
		FROM custom_benchmark_ready a
		WHERE  a.valid=1 AND a.isBenchmark=2
			AND ( a.path_catid LIKE '311%'
			OR a.path_catid LIKE '312%'
			OR a.path_catid LIKE '10165%'
			OR a.path_catid LIKE '10166%'
			OR a.path_catid LIKE '54%')
    </select>
    
    <!-- AuthInfo queryAuthInfo(Integer authId); -->
    <select id="queryAuthInfo" resultType="com.cbt.website.userAuth.bean.AuthInfo">
    	SELECT authId,authName,url,reMark,orderNo,module_type moduleType 
    	FROM tbl_auth_info 
    	WHERE authId = #{authId}
    </select>

    <!--String queryAvailable(@Param("email") String email);-->
    <select id="queryAvailable" resultType="String">
        SELECT available_m FROM `user` WHERE email = #{email} OR name = #{email} limit 1
    </select>

    <!--long updateAvailable(@Param("email") String email, @Param("available") Double available);-->
    <update id="updateAvailable">
        UPDATE `user`
        SET available_m = #{available}
        WHERE email = #{email} OR name = #{email}
    </update>

    <!--long queryAdmUserByAdmNameAndPwd(@Param("admName") String admName, @Param("oldPwd") String oldPwd);-->
    <select id="queryAdmUserByAdmNameAndPwd" resultType="long">
        SELECT count(1)
        FROM admuser
        WHERE admName = #{admName} and password = md5(#{oldPwd})
    </select>

    <!--void updatePasswordByAdmName(@Param("admName") String admName, @Param("newPwd") String newPwd);-->
    <update id="updatePasswordByAdmName">
        UPDATE admuser
        SET password = md5(#{newPwd})
        WHERE admName = #{admName}
    </update>

    <!--Integer queryOrderNoByModuleType(@Param("moduleType") int moduleType);-->
    <select id="queryOrderNoByModuleType" resultType="Integer">
        SELECT MAX(orderNo)
        FROM tbl_auth_info
        WHERE module_type = #{moduleType}
    </select>
    <!--long insertAuthInfo(@Param("authInfo") AuthInfo authInfo);-->
    <insert id="insertAuthInfo" parameterType="com.cbt.website.userAuth.bean.AuthInfo">
        INSERT INTO tbl_auth_info (authName, url, reMark, del, orderNo, module_type)
        VALUES (#{authName}, #{url}, #{reMark}, '0', #{orderNo}, #{moduleType})
    </insert>

    <!--long updateAuthInfo(@Param("authInfo") AuthInfo authInfo);-->
    <update id="updateAuthInfo" parameterType="com.cbt.website.userAuth.bean.AuthInfo">
        UPDATE tbl_auth_info
        SET authName=#{authName}, url=#{url}, reMark=#{reMark}, module_type=#{moduleType}
        WHERE authId=#{authId}
    </update>

    <!--List<String> queryBoughtGoods(@Param("startDate") String startDate);-->
    <select id="queryBoughtGoods" resultType="String">
        SELECT DISTINCT od.goods_pid pid FROM orderinfo oi INNER JOIN order_details od ON oi.order_no=od.orderid
        INNER JOIN custom_benchmark_ready c ON od.goods_pid=c.pid AND c.valid=0
        WHERE oi.state BETWEEN 1 AND 5 AND od.state IN (0,1)
        AND oi.user_id IN (SELECT id FROM USER WHERE is_test=0)
        AND oi.orderpaytime >= #{startDate}
    </select>

    <!--List<String> queryCarProducts(@Param("startDate") String startDate);-->
    <select id="queryCarProducts" resultType="String">
        select DISTINCT a.itemId pid from goods_car a
        LEFT JOIN custom_benchmark_ready c ON a.itemId = c.pid
        LEFT JOIN USER u ON a.userid = u.id
        where c.valid=0 AND u.is_test=0
        and a.datatime >= #{startDate}
    </select>

    <!--void insertNeedoffshelfSoldPid(@Param("list") List<String> list, @Param("type") Integer type);-->
    <insert id="insertNeedoffshelfSoldPid">
        INSERT INTO alidata.needoffshelf_sold_pid (pid, type, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item}, #{type}, NOW())
        </foreach>
    </insert>

    <!--void deleteNeedoffshelfSoldAll();-->
    <delete id="deleteNeedoffshelfSoldAll">
        TRUNCATE TABLE alidata.needoffshelf_sold_pid
    </delete>

    <!--List<String> queryIsEditProducts();-->
    <select id="queryIsEditProducts" resultType="String">
        SELECT pid
        FROM custom_goods_edit
        WHERE is_edited = 1
    </select>

    <!--List<String> queryInventoryProducts();-->
    <select id="queryInventoryProducts" resultType="String">
        SELECT goods_pid
        FROM inventory
    </select>

    <!--List<String> queryGoodsWeightNoSyn();-->
    <select id="queryGoodsWeightNoSyn" resultType="String">
        SELECT pid
        FROM package_goods_weight
        WHERE del = 0 AND syn = 0
    </select>

    <!--List<UserXlsBean> queryUserList(@Param("startBars") Integer startBars, @Param("rows") Integer rows, @Param("userType") Integer userType, @Param("startDate") String startDate, @Param("endDate") String endDate);-->
    <select id="queryUserList" resultType="com.importExpress.pojo.UserXlsBean">
        <if test="userType == 1">
            select tmp_a.id, tmp_a.name, tmp_a.email, au.admName, tmp_b.createtime, tmp_a.currency
            from (
            SELECT DISTINCT u.name, u.email, u.id, u.currency
            from USER u
            INNER JOIN address a ON a.userid=u.id
            WHERE u.id IN (
            SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
            email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
            email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
            email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
            email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
            email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
            and u.id not in (
            select user_id from orderinfo
            )
            )tmp_a left join (
            select userid, createtime
            from address
            group by userid
            having max(createtime)
            )tmp_b on tmp_a.id=tmp_b.userid
            left join admin_r_user au on au.userid=tmp_a.id
            <where>
                <if test="startDate != null">
                    tmp_b.createtime >= #{startDate}
                </if>
                <if test="endDate != null">
                    and tmp_b.createtime &lt;= #{endDate}
                </if>
            </where>
            order by tmp_b.createtime desc
        </if>

        <if test="userType == 2">
            select tmp_a.id, tmp_a.name, tmp_a.email, au.admName, tmp_a.createtime, tmp_a.currency, tmp_a.whatsapp
            from (
            SELECT DISTINCT u.name, u.email, u.id, u.createtime, u.currency, a.whatsapp
            from USER u
            INNER JOIN user_ex a ON a.userid=u.id AND LENGTH(a.whatsapp) > 0
            WHERE u.id IN (
            SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
            email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
            email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
            email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
            email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
            email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
            and u.id not in (
            select user_id from orderinfo
            )
            )tmp_a
            left join admin_r_user au on au.userid=tmp_a.id
            <where>
                <if test="startDate != null">
                    tmp_a.createtime >= #{startDate}
                </if>
                <if test="endDate != null">
                    and tmp_a.createtime &lt;= #{endDate}
                </if>
            </where>
            order by tmp_a.createtime desc
        </if>

        <if test="userType == 3">
            select c.id, c.name, c.email, c.currency, au.admName, a.orderid, a.orderdesc, a.OperationDate 'createtime',
            case when b.state=0 then '未付款'
            when b.state=1 then '购买中'
            when b.state=2 then '已到仓库'
            when b.state=3 then '出运中'
            when b.state=4 then '完结'
            when b.state=5 then '确认价格中'
            when b.state=7 then '预订单'
            end 'state', b.product_cost,
            case when p.paystatus=0 then '支付失败'
            when p.paystatus=1 then '支付成功'
            when p.paystatus=2 then '进行中'
            else '' end as 'paystatus'
            from (
            select DISTINCT orderid, orderdesc, OperationDate
            from paylog a
            where 1 = 1
            <if test="startDate != null">
                AND OperationDate >= #{startDate}
            </if>
            <if test="endDate != null">
                AND OperationDate &lt;= #{endDate}
            </if>
            and orderdesc REGEXP '发起paypal支付'
            and not EXISTS (
            select 1 from paylog b
            where a.orderid=b.orderid and b.orderdesc REGEXP '发起paypal支付回调'
            )
            )a
            left join orderinfo b on a.orderid=b.order_no
            left join user c on b.user_id=c.id
            left join admin_r_user au on au.userid=c.id
            left join payment p on p.orderid=b.order_no
            where c.id in (
            SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
            email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
            email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
            email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
            email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
            email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
            and b.state not in (-1, 6)
            and IFNULL(p.paystatus, 0) != 1
            ORDER BY a.OperationDate DESC
        </if>

        <if test="userType == 4">
            select tmp_a.id, tmp_a.name, tmp_a.email, au.admName, tmp_a.createtime, tmp_a.currency
            from (
            SELECT DISTINCT u.name, u.email, u.id, u.createtime, u.currency
            from USER u
            WHERE u.id IN (
            SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
            email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
            email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
            email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
            email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
            email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
            and u.id not in (
            select user_id from orderinfo where state not in (-1, 6)
            )
            )tmp_a
            left join admin_r_user au on au.userid=tmp_a.id
            <where>
                <if test="startDate != null">
                    tmp_a.createtime >= #{startDate}
                </if>
                <if test="endDate != null">
                    and tmp_a.createtime &lt;= #{endDate}
                </if>
            </where>
            order by tmp_a.createtime desc
        </if>

        <if test="userType == 5">
            SELECT a.name, a.id, a.createtime FROM (
                SELECT pid as 'name',COUNT(1) as 'id',MAX(createtime) 'createtime' FROM searchclickproductlog
                WHERE pid NOT IN(
                    SELECT DISTINCT itemId FROM goods_car
                    <where>
                        <if test="startDate != null">
                            datatime >= #{startDate}
                        </if>
                        <if test="endDate != null">
                            and datatime &lt;= #{endDate}
                        </if>
                    </where>
                )
                <if test="startDate != null">
                    and createtime >= #{startDate}
                </if>
                <if test="endDate != null">
                    and createtime &lt;= #{endDate}
                </if>
                GROUP BY name
                ORDER BY id DESC
                LIMIT 500
            ) a
        </if>

        <if test="userType == 7">
            SELECT tem.goods_pid AS 'name', tem.name AS 'admName', tem.cnt AS 'id' FROM (
                SELECT a.goods_pid, b.name, COUNT(1) AS 'cnt'
                FROM(
                SELECT oi.order_no, od.goods_pid FROM orderinfo oi
                INNER JOIN order_details od ON oi.order_no=od.orderid
                INNER JOIN `user` u ON oi.user_id = u.id
                WHERE LENGTH(od.goods_pid) > 0
                AND oi.state BETWEEN 1 AND 5 AND od.state IN (0,1) -- 成功的订单
                AND oi.create_time >= NOW() - INTERVAL 6 MONTH -- 最近6个月
                AND u.is_test = 0 AND ( -- 排除测试账号
                u.email not like '%qq.com%' and u.email not like '%ww.com%' and
                u.email not like 'test%' and u.email not like '%qq.ss' and u.email not like '%@q.ocm' and
                u.email not like '%qqsss.com' and u.email not like '%csmfg.com%' and u.email not like '%@sourcing-cn.com%'
                and
                u.email not like '%@china-synergy%' and u.email&lt;>'sb33@gmail.com' and u.email&lt;>'sbtest@gmail.com' and
                u.email not like '%@qq.co%' and u.email not like '%11.com' and u.email not like '%@qq.ocm' and u.email not
                like '%@163.com' and
                u.email not like 'xielulu%'
                )
                GROUP BY oi.order_no, od.goods_pid -- 同一个订单中同一个商品只算一次
                ) a
                LEFT JOIN custom_benchmark_ready b ON a.goods_pid = b.pid
                GROUP BY a.goods_pid
                ORDER BY COUNT(1) DESC
                LIMIT 10
            ) tem
        </if>

        <if test="userType == 8">
            SELECT tem.goods_pid AS 'name', tem.name AS 'admName', tem.cnt AS 'id' FROM (
                SELECT a.goods_pid, b.name, COUNT(1) AS 'cnt'
                FROM(
                SELECT oi.user_id, od.goods_pid FROM orderinfo oi
                INNER JOIN order_details od ON oi.order_no=od.orderid
                INNER JOIN `user` u ON oi.user_id = u.id
                WHERE LENGTH(od.goods_pid) > 0
                AND oi.state BETWEEN 1 AND 5 AND od.state IN (0,1)  -- 成功的订单
                AND oi.create_time >= NOW() - INTERVAL 6 MONTH  -- 最近6个月
                AND u.is_test = 0 AND (  -- 排除测试账号
                u.email not like '%qq.com%' and u.email not like '%ww.com%' and
                u.email not like 'test%'   and  u.email not like '%qq.ss' and u.email not like '%@q.ocm' and
                u.email not like '%qqsss.com' and  u.email not like '%csmfg.com%'  and  u.email not like '%@sourcing-cn.com%'  and
                u.email not like '%@china-synergy%'  and u.email&lt;>'sb33@gmail.com'  and u.email&lt;>'sbtest@gmail.com'  and
                u.email not like '%@qq.co%' and u.email not like '%11.com' and u.email not like '%@qq.ocm' and u.email not like '%@163.com' and
                u.email not like 'xielulu%'
                )
                GROUP BY oi.user_id, od.goods_pid  -- 同一个用户中同一个商品只算一次
                ) a
                LEFT JOIN custom_benchmark_ready b ON a.goods_pid = b.pid
                GROUP BY a.goods_pid HAVING COUNT(1) > 4
                ORDER BY COUNT(1) DESC
            ) tem
        </if>

        <if test="startBars != null">
            LIMIT #{startBars}, #{rows};
        </if>
    </select>

    <!--Integer queryUserListCount(@Param("userType") Integer userType, @Param("startDate") String startDate, @Param("endDate") String endDate);-->
    <select id="queryUserListCount" resultType="Integer">
        <if test="userType == 1">
            select COUNT(1)
            from (
            SELECT DISTINCT u.name, u.email, u.id, u.currency
            from USER u
            INNER JOIN address a ON a.userid=u.id
            WHERE u.id IN (
            SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
            email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
            email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
            email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
            email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
            email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
            and u.id not in (
            select user_id from orderinfo
            )
            )tmp_a left join (
            select userid, createtime
            from address
            group by userid
            having max(createtime)
            )tmp_b on tmp_a.id=tmp_b.userid
            left join admin_r_user au on au.userid=tmp_a.id
            <where>
                <if test="startDate != null">
                    tmp_b.createtime >= #{startDate}
                </if>
                <if test="endDate != null">
                    and tmp_b.createtime &lt;= #{endDate}
                </if>
            </where>
        </if>

        <if test="userType == 2">
            select COUNT(1)
            from (
            SELECT DISTINCT u.name, u.email, u.id, u.createtime, u.currency
            from USER u
            INNER JOIN user_ex a ON a.userid=u.id AND LENGTH(a.whatsapp) > 0
            WHERE u.id IN (
            SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
            email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
            email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
            email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
            email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
            email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
            and u.id not in (
            select user_id from orderinfo
            )
            )tmp_a
            left join admin_r_user au on au.userid=tmp_a.id
            <where>
                <if test="startDate != null">
                    tmp_a.createtime >= #{startDate}
                </if>
                <if test="endDate != null">
                    and tmp_a.createtime &lt;= #{endDate}
                </if>
            </where>
        </if>

        <if test="userType == 3">
            select COUNT(1)
            from (
            select DISTINCT orderid, orderdesc, OperationDate
            from paylog a
            where 1 = 1
            <if test="startDate != null">
                AND OperationDate >= #{startDate}
            </if>
            <if test="endDate != null">
                AND OperationDate &lt;= #{endDate}
            </if>
            and orderdesc REGEXP '发起paypal支付'
            and not EXISTS (
            select 1 from paylog b
            where a.orderid=b.orderid and b.orderdesc REGEXP '发起paypal支付回调'
            )
            )a
            left join orderinfo b on a.orderid=b.order_no
            left join user c on b.user_id=c.id
            left join admin_r_user au on au.userid=c.id
            left join payment p on p.orderid=b.order_no
            where c.id in (
            SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
            email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
            email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
            email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
            email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
            email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
            and b.state not in (-1, 6)
            and IFNULL(p.paystatus, 0) != 1
        </if>

        <if test="userType == 4">
            select COUNT(1)
            from (
            SELECT DISTINCT u.name, u.email, u.id, u.createtime, u.currency
            from USER u
            WHERE u.id IN (
            SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
            email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
            email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
            email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
            email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
            email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
            and u.id not in (
            select user_id from orderinfo where state not in (-1, 6)
            )
            )tmp_a
            left join admin_r_user au on au.userid=tmp_a.id
            <where>
                <if test="startDate != null">
                    tmp_a.createtime >= #{startDate}
                </if>
                <if test="endDate != null">
                    and tmp_a.createtime &lt;= #{endDate}
                </if>
            </where>
        </if>

        <if test="userType == 5">
            SELECT 500
        </if>

        <if test="userType == 7">
            SELECT 10
        </if>

        <if test="userType == 8">
            SELECT COUNT(tem.goods_pid) FROM (
                SELECT a.goods_pid
                FROM(
                SELECT oi.user_id, od.goods_pid FROM orderinfo oi
                INNER JOIN order_details od ON oi.order_no=od.orderid
                INNER JOIN `user` u ON oi.user_id = u.id
                WHERE LENGTH(od.goods_pid) > 0
                AND oi.state BETWEEN 1 AND 5 AND od.state IN (0,1) -- 成功的订单
                AND oi.create_time >= NOW() - INTERVAL 6 MONTH -- 最近6个月
                AND u.is_test = 0 AND ( -- 排除测试账号
                u.email not like '%qq.com%' and u.email not like '%ww.com%' and
                u.email not like 'test%' and u.email not like '%qq.ss' and u.email not like '%@q.ocm' and
                u.email not like '%qqsss.com' and u.email not like '%csmfg.com%' and u.email not like '%@sourcing-cn.com%'
                and
                u.email not like '%@china-synergy%' and u.email&lt;>'sb33@gmail.com' and u.email&lt;>'sbtest@gmail.com' and
                u.email not like '%@qq.co%' and u.email not like '%11.com' and u.email not like '%@qq.ocm' and u.email not
                like '%@163.com' and
                u.email not like 'xielulu%'
                )
                GROUP BY oi.user_id, od.goods_pid -- 同一个用户中同一个商品只算一次
                ) a
                LEFT JOIN custom_benchmark_ready b ON a.goods_pid = b.pid
                GROUP BY a.goods_pid HAVING COUNT(1) > 4
                ORDER BY COUNT(1) DESC
            ) tem
        </if>


    </select>

    <!--List<String> queryUserAddressById(@Param("id") Integer id);-->
    <select id="queryUserAddressById" resultType="String">
        SELECT CONCAT(
        'Recipients:',IFNULL(recipients,'')
        , '&lt;br />Street:', IFNULL(address,''), ' ', IFNULL(street,'')
        , '&lt;br />City:', IFNULL(address2,'')
        , '&lt;br />State:', IFNULL(statename,'')
        , '&lt;br />Zip Code:', IFNULL(zip_code,'')
        , '&lt;br />Phone:', IFNULL(phone_number,'')
        ) FROM address WHERE userid = #{id}
    </select>

    <!--List<String> queryUserExById(@Param("id") Integer id);-->
    <select id="queryUserExById" resultType="String">
        SELECT CONCAT(
        'Alternative Email:',IFNULL(otheremail,'')
        , '&lt;br />Alternative Phone:', IFNULL(otherphone,'')
        , '&lt;br />WhatsApp:', IFNULL(whatsapp,'')
        , '&lt;br />Kik:', IFNULL(kiki,'')
        , '&lt;br />Skype:', IFNULL(skype,'')
        , '&lt;br />Facebook:', IFNULL(facebook,'')
        , '&lt;br />Twitter:', IFNULL(tweater,'')
        ) FROM user_ex WHERE userid = #{id}
    </select>

    <!--String queryClickGoodsCount(@Param("id") Integer id);-->
    <select id="queryClickGoodsCount" resultType="String">
        SELECT COUNT(DISTINCT b.pid) FROM searchproductlog a
        LEFT JOIN searchclickproductlog b ON a.searchMD5 = b.searchMD5
        WHERE userid = #{id} AND createtime >= CURDATE() - INTERVAL 7 DAY
    </select>

    <!--String querySearchKeywords(@Param("id") Integer id);-->
    <select id="querySearchKeywords" resultType="String">
        SELECT GROUP_CONCAT(REPLACE(REPLACE(a.keywords,'%20',' '),'%26','&amp;') separator '; ') FROM (
            SELECT CONCAT('搜索词:', keywords,', 搜索时间:',showPageTime) keywords,userid FROM searchproductlog
            WHERE userid = #{id} AND LENGTH(keywords) > 0
            ORDER BY showPageTime DESC
            LIMIT 15
        ) a GROUP BY a.userid
    </select>

    <!--void updateNeedoffshellEditFlag(@Param("list") List<String> list);-->
    <update id="updateNeedoffshellEditFlag">
        UPDATE alidata.needoffshelf_all_log
        SET edit_flag = 1
        WHERE pid IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <!--void updateNeedoffshelfByPid(@Param("pid") String pid, @Param("noShelfInfo") String noShelfInfo);-->
    <update id="updateNeedoffshelfByPid">
        UPDATE alidata.needoffshelf_all_log
        SET edit_flag = 1, no_shelf_info = #{noShelfInfo}
        WHERE pid = #{pid}
    </update>

    <!--List<HashMap<String,String>> queryCarGoodsCount(@Param("list") List<UserXlsBean> list);-->
    <select id="queryCarGoodsCount" resultType="map">
        SELECT userid, LENGTH(shopCarShowinfo) - LENGTH(REPLACE(shopCarShowinfo,'"guId"','"guI"'))  'total'
        FROM goods_carconfig WHERE userid IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
        AND LENGTH(shopCarShowinfo) > 0
    </select>

    <!--Integer queryGoodsReviewListCount(@Param("goodsPid") String goodsPid, @Param("reviewRemark") String reviewRemark,
                                 @Param("type") Integer type, @Param("reviewFlag") Integer reviewFlag,
                                 @Param("startDate") String startDate, @Param("endDate") String endDate);-->
    <select id="queryOrderShareListCount" resultType="Integer">
        SELECT COUNT(1)
        FROM order_details
        where  orderid = #{orderNo}
    </select>

    <select id="queryGoodsReviewListCount" resultType="Integer">
        SELECT COUNT(1)
        FROM goods_review
        <where>
            <if test="type != -1">
                type = #{type}
            </if>
            <if test="reviewFlag != -1">
                AND review_flag = #{reviewFlag}
            </if>
            <if test="goodsPid != null">
                AND goods_pid = #{goodsPid}
            </if>
            <if test="reviewRemark != null">
                AND review_remark LIKE #{reviewRemark}
            </if>
            <if test="startDate != null">
                AND createtime >= #{startDate}
            </if>
            <if test="endDate != null">
                AND #{endDate} >= createtime
            </if>
        </where>
    </select>


    <!--List<GoodsReview> queryGoodsReviewList(@Param("startBars") Integer startBars, @Param("rows") Integer rows,
                                      @Param("goodsPid") String goodsPid, @Param("reviewRemark") String reviewRemark,
                                      @Param("type") Integer type, @Param("reviewFlag") Integer reviewFlag,
                                      @Param("startDate") String startDate, @Param("endDate") String endDate);-->
    <select id="queryGoodsReviewList" resultType="com.importExpress.pojo.GoodsReview">
        SELECT id, goods_pid goodsPid, country, review_name reviewName, review_score reviewScore,
          createtime, updatetime, review_remark reviewRemark, type, review_flag reviewFlag
        FROM goods_review
        <where>
            <if test="type != -1">
                type = #{type}
            </if>
            <if test="reviewFlag != -1">
                AND review_flag = #{reviewFlag}
            </if>
            <if test="goodsPid != null">
                AND goods_pid = #{goodsPid}
            </if>
            <if test="reviewRemark != null">
                AND review_remark LIKE #{reviewRemark}
            </if>
            <if test="startDate != null">
                AND createtime >= #{startDate}
            </if>
            <if test="endDate != null">
                AND #{endDate} >= createtime
            </if>
        </where>
        ORDER BY createtime DESC
        LIMIT #{startBars},#{rows}
    </select>

    <select id="queryOrderShareList" resultType="com.importExpress.pojo.OrderShare">
        SELECT car_img as goodsImg,goodsprice as goodsPrice,goods_pid as goodsPid,yourorder
        FROM order_details
        where  orderid = #{orderNo}
        ORDER BY goods_pid
        LIMIT #{startBars},#{rows}
    </select>

    <!--GoodsReview queryGoodsReviewById(@Param("id") Integer id);-->
    <select id="queryGoodsReviewById" resultType="com.importExpress.pojo.GoodsReview">
        SELECT id, goods_pid goodsPid, country, review_name reviewName, review_score reviewScore,
          createtime, updatetime, review_remark reviewRemark, type, review_flag reviewFlag
        FROM goods_review
        WHERE id = #{id}
        LIMIT 1
    </select>

    <!--List<String> queryAddCarList(@Param("startDate") String startDate, @Param("endDate") String endDate);-->
    <select id="queryAddCarList" resultType="String">
        SELECT DISTINCT itemId
        FROM goods_car
        <where>
            <if test="startDate != null">
                datatime >= #{startDate}
            </if>
            <if test="endDate != null">
                and datatime &lt;= #{endDate}
            </if>
            AND userid IN (
                SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
                email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
                email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
                email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
                email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
                email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
        </where>
    </select>

    <!--List<String> querySearchProductList(@Param("startDate") String startDate, @Param("endDate") String endDate);-->
    <select id="querySearchProductList" resultType="String">
        SELECT allProductList FROM searchproductlog
        <where>
            <if test="startDate != null">
                showPageTime >= #{startDate}
            </if>
            <if test="endDate != null">
                and showPageTime &lt;= #{endDate}
            </if>
            AND LENGTH(allProductList) > 0
            AND userid IN (
                SELECT id FROM USER WHERE email NOT LIKE '%qq.com%' AND email NOT LIKE '%ww.com%' AND
                email NOT LIKE 'test%' AND email NOT LIKE '%qq.ss' AND email NOT LIKE '%@q.ocm' AND
                email NOT LIKE '%qqsss.com' AND email NOT LIKE '%csmfg.com%' AND email NOT LIKE '%@sourcing-cn.com%' AND
                email NOT LIKE '%@china-synergy%' AND email&lt;>'sb33@gmail.com' AND email&lt;>'sbtest@gmail.com' AND
                email NOT LIKE '%@qq.co%' AND email NOT LIKE '%11.com' AND email NOT LIKE '%@qq.ocm' AND email NOT LIKE '%@163.com' AND
                email NOT LIKE 'zhouxueyun%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'wanghongjie%' AND email NOT LIKE 'lifang%' AND email NOT LIKE 'w_kun%'
            )
        </where>
    </select>

    <!--String queryProductsStockverification1688data(@Param("pid") String pid);-->
    <select id="queryProductsStockverification1688data" resultType="String">
        SELECT pics
        FROM alidata.products_stockverification_1688data
        WHERE goods_pid = #{pid}
        LIMIT 1
    </select>

    <!--List<SameGoodsDetails> querySameGoodsDetails(@Param("pid") String pid);-->
    <select id="querySameGoodsDetails" resultType="com.cbt.bean.SameGoodsDetails">
        SELECT s_pid pid, shop_id shopId, shop_name shopName, json_content jsonContent, booked_cnt bookedCnt
        FROM alidata.1688_same_goods_detail
        WHERE origin_pid = #{pid}
        ORDER BY booked_cnt DESC
        LIMIT 4
    </select>

    <!--void insertNeedoffDownAll(@Param("list") List<String> list, @Param("reason") Integer reason, @Param("adminid") Integer adminid);-->
    <insert id="insertNeedoffDownAll">
        <foreach collection="list" item="item" separator=";">
            INSERT INTO needoffshelf_goods (pid, reason, adminid) VALUES (#{item}, #{reason}, #{adminid})
        </foreach>
    </insert>

    <!--List<Map<String,String>> queryUnsellablereasonMaster();-->
    <select id="queryUnsellablereasonMaster" resultType="HashMap">
        SELECT unsellablereason_id 'id', unsellablereason_name 'name'
        FROM unsellablereason_master
    </select>

    <!--List<String> querySalesShop(@Param("list") List<SameGoodsDetails> list);-->
    <select id="querySalesShop" resultType="String">
        SELECT shop_id FROM sales_shop WHERE shop_id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.shopId}
        </foreach>
    </select>

</mapper>