<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.importExpress.mapper.TabCouponMapper">
	
    <!-- List<TabCouponNew> queryTabCouponList(@Param("startBars") Integer startBars, @Param("rows") Integer rows, @Param("typeCode") String typeCode, @Param("valid") Integer valid, @Param("timeTo") Integer timeTo, @Param("couponSite") Integer couponSite); -->
	<select id="queryTabCouponList" resultType="com.importExpress.pojo.TabCouponNew">
		SELECT a.id, a.count, a.leftCount, a.describe, a.value, a.from, a.to, a.type, a.valid, a.userid, a.mqlog, a.createtime, b.admName username, a.share_flag shareFlag
		FROM tab_coupon_new a
		LEFT JOIN admuser b ON a.userid = b.id
		<where>
			<if test="typeCode != null">
				 a.type = #{typeCode}
			</if>
            <if test="valid != null">
                AND a.valid = #{valid}
            </if>
            <if test="timeTo == 1">
                AND a.to >= NOW()
            </if>
            <if test="timeTo == 2">
                AND NOW() > a.to
            </if>
            <if test="couponSite > 0">
                AND (site = 0 OR site = #{couponSite})
            </if>
		</where>
        ORDER BY createtime DESC
		LIMIT #{startBars},#{rows}
    </select>

	<!-- Long queryTabCouponListCount(@Param("typeCode") String typeCode, @Param("valid") Integer valid, @Param("timeTo") Integer timeTo, @Param("couponSite") Integer couponSite); -->
	<select id="queryTabCouponListCount" resultType="long">
		SELECT COUNT(1)
		FROM tab_coupon_new a
		<where>
			<if test="typeCode != null">
				 a.type_code = #{typeCode}
			</if>
            <if test="valid != null">
                AND a.valid = #{valid}
            </if>
            <if test="timeTo == 1">
                AND a.to >= NOW()
            </if>
            <if test="timeTo == 2">
                AND NOW() > a.to
            </if>
            <if test="couponSite > 0">
                AND (site = 0 OR site = #{couponSite})
            </if>
		</where>
    </select>
    
    <!-- List<TabCouponType> queryTabCouponTypeCodeList(); -->
    <select id="queryTabCouponTypeCodeList" resultType="com.importExpress.pojo.TabCouponType">
		SELECT id, type_code typeCode, type_note typeNote, state, createtime
		FROM tab_coupon_type
		WHERE state = 1
    </select>
    
    <!-- List<TabCouponRules> queryTabCouponRulesList(); -->
    <select id="queryTabCouponRulesList" resultType="com.importExpress.pojo.TabCouponRules">
		SELECT id, min_amount minAmount, category, available_time availableTime
		FROM tab_coupon_rules
    </select>
    
    <!-- void addCoupon(@Param("tabCouponNew") TabCouponNew tabCouponNew); -->
    <insert id="addCoupon">
    	INSERT INTO tab_coupon_new (`id`, `count`, `leftCount`, `describe`, `value`, `from`,
    	  `to`, `type`, `valid`, `userid`, `mqlog`, `createtime`, `share_flag`, `site`)
    	VALUES (#{tabCouponNew.id}, #{tabCouponNew.count}, #{tabCouponNew.leftCount}, #{tabCouponNew.describe}, #{tabCouponNew.value}, 
    		#{tabCouponNew.from}, #{tabCouponNew.to}, #{tabCouponNew.type}, #{tabCouponNew.valid}, #{tabCouponNew.userid},
    		#{tabCouponNew.mqlog}, NOW(), #{tabCouponNew.shareFlag}, #{tabCouponNew.site})
    </insert>
    
    <!-- Long checkCouponCode(@Param("couponCode") String couponCode); -->
    <select id="checkCouponCode" resultType="Long">
    	SELECT COUNT(1) FROM tab_coupon_new WHERE id = #{couponCode}
    </select>

    <!--TabCouponNew queryTabCouponOne(@Param("couponCode") String couponCode);-->
    <select id="queryTabCouponOne" resultType="com.importExpress.pojo.TabCouponNew">
        SELECT a.id, a.count, a.leftCount, a.describe, a.value, a.from, a.to, a.type, a.valid, a.userid,
        a.mqlog, a.createtime, b.admName username, a.share_flag shareFlag, a.site
		FROM tab_coupon_new a
		LEFT JOIN admuser b ON a.userid = b.id
		WHERE a.id = #{couponCode}
    </select>

    <!--void insertCouponUsers(@Param("bean") TabCouponNew bean, @Param("list") List<UserBean> list);-->
    <insert id="insertCouponUsers">
        <foreach collection="list" separator=";" item="item">
            INSERT INTO tab_coupon_user (userid, couponCode, createtime, coupon_state, type)
            VALUES (#{item.id}, #{bean.id}, NOW(), '1', #{bean.type})
        </foreach>
    </insert>

    <!--void updateCouponUsers(@Param("couponCode") String couponCode, @Param("userid") String userid);-->
    <update id="updateCouponUsers">
        UPDATE tab_coupon_user
        SET valid = 0
        WHERE couponCode = #{couponCode} AND userid = #{userid}
    </update>

    <!--String queryTabCouponUser(@Param("couponCode") String couponCode);-->
    <select id="queryTabCouponUser" resultType="String">
        SELECT GROUP_CONCAT(userid) FROM tab_coupon_user
        WHERE couponCode = #{couponCode} AND valid = 1
        GROUP BY couponCode
    </select>

    <!--List<String> queryCouponUsersCount(@Param("couponCode") String couponCode);-->
    <select id="queryCouponUsersCount" resultType="String">
        SELECT userid FROM tab_coupon_user
        WHERE couponCode = #{couponCode} AND valid = 1
    </select>

    <!--void updateCouponValid(@Param("couponCode") String couponCode, @Param("valid") int valid);-->
    <update id="updateCouponValid">
        UPDATE tab_coupon_new
        SET valid = #{valid}
        WHERE id = #{couponCode}
    </update>

    <!--String queryCouponCodeByCreatetime(@Param("createtime") String createtime);-->
    <select id="queryCouponCodeByCreatetime" resultType="String">
        SELECT id FROM tab_coupon_new
        WHERE createtime >= #{createtime}
        ORDER BY createtime DESC
        LIMIT 1
    </select>

    <!--List<UserBean> queryLocalUser(@Param("list") List<String> list);-->
    <select id="queryLocalUser" resultType="com.cbt.bean.UserBean">
        SELECT id, name, email
        FROM user WHERE id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!--long queryCouponCodeCount(@Param("couponCode") String couponCode);-->
    <select id="queryCouponCodeCount" resultType="Long">
        SELECT COUNT(1) FROM tab_coupon_new
        WHERE id LIKE #{couponCode}
    </select>
    
</mapper>