<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cbt.warehouse.dao.InventoryMapper" >
    <resultMap id="inventoryDetailsMap" type="com.cbt.website.bean.InventoryDetails" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="sku" property="sku" jdbcType="VARCHAR" />
        <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
        <result column="orderno" property="orderno" jdbcType="VARCHAR" />
        <result column="od_id" property="odId" jdbcType="INTEGER" />
        <result column="goods_pid" property="goodsPid" jdbcType="VARCHAR" />
        <result column="createtime" property="createtime" jdbcType="VARCHAR" />
        <result column="inventory_id" property="inventoryId" jdbcType="INTEGER" />
        <result column="goods_specid" property="goodsSpecid" jdbcType="VARCHAR" />
        <result column="good_skuid" property="goodsSkuid" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="goods_number" property="goodsNumber" jdbcType="INTEGER" />
        <result column="del_datetime" property="delDatetime" jdbcType="VARCHAR" />
        <result column="del_remark" property="delRemark" jdbcType="VARCHAR" />
        <result column="del_adm" property="delAdm" jdbcType="VARCHAR" />
        <result column="del" property="del" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="InventorySkuResultMap" type="com.cbt.website.bean.InventoryData" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="goods_url" property="goodsUrl" jdbcType="VARCHAR" />
        <result column="remaining" property="remaining" jdbcType="INTEGER" />
        <result column="can_remaining" property="canRemaining" jdbcType="INTEGER" />
        <result column="good_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="goods_price" property="goodsPrice" jdbcType="VARCHAR" />
        <result column="sku" property="sku" jdbcType="VARCHAR" />
        <result column="barcode" property="barcode" jdbcType="VARCHAR" />
        <result column="goods_p_url" property="goodsPUrl" jdbcType="VARCHAR" />
        <result column="goodscatid" property="goodsCatid" jdbcType="VARCHAR" />
        <result column="car_img" property="carImg" jdbcType="VARCHAR" />
        <result column="goods_p_price" property="goodsPPrice" jdbcType="VARCHAR" />
        <result column="flag" property="flag" jdbcType="INTEGER" />
        <result column="isLock" property="isLock" jdbcType="INTEGER" />
        <result column="od_id" property="odid" jdbcType="INTEGER" />
        <result column="goods_pid" property="goodsPid" jdbcType="VARCHAR" />
        <result column="createtime" property="createtime" jdbcType="VARCHAR" />
        <result column="updatetime" property="updatetime" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="goods_p_pid" property="goodsPPid" jdbcType="VARCHAR" />
        <result column="specid" property="specid" jdbcType="VARCHAR" />
        <result column="skuid" property="skuid" jdbcType="VARCHAR" />
        <result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
        <result column="unsellableReason" property="unsellableReason" jdbcType="VARCHAR" />
        <result column="online_flag" property="onlineFlag" jdbcType="INTEGER" />
        <result column="inventory_type" property="inventoryType" jdbcType="INTEGER" />
        <result column="db_flag" property="dbFlag" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="InventoryResultMap" type="com.cbt.pojo.Inventory" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="goods_url" property="goods_url" jdbcType="VARCHAR" />
        <result column="add_goods" property="add_goods" jdbcType="INTEGER" />
        <result column="out_goods" property="out_goods" jdbcType="INTEGER" />
        <result column="remaining" property="remaining" jdbcType="INTEGER" />
        <result column="last_add_time" property="last_add_time" jdbcType="VARCHAR" />
        <result column="last_out_time" property="last_out_time" jdbcType="VARCHAR" />
        <result column="itemid" property="itemid" jdbcType="VARCHAR" />
        <result column="sku" property="sku" jdbcType="VARCHAR" />
        <result column="good_name" property="good_name" jdbcType="VARCHAR" />
        <result column="goodscatid" property="goodscatid" jdbcType="VARCHAR" />
        <result column="inventory_amount" property="inventory_amount" jdbcType="INTEGER" />
        <result column="car_img" property="car_img" jdbcType="VARCHAR" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="goods_p_price" property="goods_p_price" jdbcType="VARCHAR" />
        <result column="goodsprice" property="goodsprice" jdbcType="VARCHAR" />
        <result column="flag" property="flag" jdbcType="INTEGER" />
        <result column="new_inventory_amount" property="new_inventory_amount" jdbcType="INTEGER" />
        <result column="new_barcode" property="new_barcode" jdbcType="VARCHAR" />
        <result column="new_remaining" property="new_remaining" jdbcType="INTEGER" />
        <result column="can_remaining" property="can_remaining" jdbcType="INTEGER" />
        <result column="goodsid" property="goodsid" jdbcType="VARCHAR" />
        <result column="onLine" property="onLine" jdbcType="VARCHAR" />
        <result column="unsellableReason" property="unsellableReason" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="VARCHAR" />
        <result column="online_flag" property="online_flag" jdbcType="VARCHAR" />
        <result column="db_flag" property="db_flag" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap type="com.cbt.Specification.bean.AliCategory" id="AliCategoryMap">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="cid" property="cid" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="VARCHAR" />
    </resultMap>
    <select id="isExitBarcode" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM storage_location WHERE barcode=#{barcode}
    </select>
    <insert id="recordLossInventory">
        insert into lossInventory (in_id,new_remaining,old_remaining,loss_inventory,old_barcode,new_barcode,loss_amount,loss_price,createtime,admName) values
        (#{in_id},#{new_remaining},#{old_remaining},#{loss_inventory},#{old_barcode},#{new_barcode},#{loss_amount},#{loss_price},now(),#{admName})
    </insert>
    <insert id="insertChangeBarcode">
        insert into change_barcode (in_id,init_barcode) select #{id},#{old_barcode} FROM DUAL WHERE NOT EXISTS (SELECT * FROM change_barcode WHERE in_id=#{id})
    </insert>
    <select id="queryInById" resultType="com.cbt.pojo.Inventory">
        select * from inventory where id=#{id}
    </select>
    <insert id="updateSourcesLog">
        INSERT INTO inventory_log_info (in_id,create_time,admName,old_inventory,new_inventroy,old_barcode,new_barcode,remark) VALUES
        (#{in_id},now(),#{name},#{old_remaining},#{new_remaining},#{old_barcode},#{new_barcode},#{remark})
    </insert>
    <update id="updateIsStockFlag">
        update custom_benchmark_ready set is_stock_flag=0 where pid=#{goods_pid};
    </update>
    <update id="updateIsStockFlag1">
        update custom_benchmark_ready_newest set is_stock_flag=0 where pid=#{goods_pid};
    </update>
    <select id="getIinOutInventory" resultMap="InventorySkuResultMap">
      select  isku.*,ifnull(c.valid,2) AS online_flag,c.unsellableReason as unsellableReason,cat.en_name as categoryName 
      from inventory_sku isku 
      left join custom_benchmark_ready c on isku.goods_pid=c.pid
      left join 1688_category cat on isku.goodscatid=cat.category_id
    where 1=1
    <if test="goods_pid != null"> and isku.goods_pid=#{goods_pid}</if>
    <if test="maxintentory!=0"> and isku.remaining &lt; #{maxintentory}</if>
    <if test="minintentory != 0"> and isku.remaining > #{minintentory}</if>
    <if test="goodscatid != 0">
	    <if test="goodscatid !=-1">
	    and isku.goodscatid = #{goodscatid}
	    </if>
    </if>
    <if test="goodscatid ==-1"> and isku.goodscatid='0'</if>
    
    
     limit #{page},20
    </select>
    <select id="getIinOutInventoryCount" resultType="INTEGER">
       select count(id) from inventory_sku  isku
        where 1=1
    <if test="goods_pid != null">and isku.goods_pid=#{goods_pid}</if>
    <if test="maxintentory!=0">and isku.remaining &lt; #{maxintentory}</if>
    <if test="minintentory != 0">and isku.remaining > #{minintentory}</if>
    <if test="goodscatid != 0">
	    <if test="goodscatid !=-1">
	    and isku.goodscatid=#{goodscatid}
	    </if>
    </if>
    <if test="goodscatid ==-1">and isku.goodscatid='0'</if>
       
    </select>
    <update id="problem_inventory">
        update inventory set flag=2 where id=${in_id}
    </update>
    <select id="searchAliCategory" resultMap="AliCategoryMap">
        <if test="type=='type1'">
            SELECT DISTINCT a.cid as cid,a.category as category FROM ali_category ac INNER JOIN ali_category a ON SUBSTRING_INDEX(ac.path, ',',1)=a.cid
        </if>
        <if test="type=='type2'">
            SELECT DISTINCT a.cid as cid,a.category as category FROM ali_category ac INNER JOIN ali_category a ON SUBSTRING_INDEX(SUBSTRING_INDEX(ac.path, ',',2),',',-1)=a.cid WHERE LOCATE(',',ac.path)>0 AND SUBSTRING_INDEX(ac.path, ',',1)=#{cid};
        </if>
        <if test="type=='type3'">
            SELECT DISTINCT a.cid as cid,a.category as category FROM ali_category ac INNER JOIN ali_category a ON SUBSTRING_INDEX(SUBSTRING_INDEX(ac.path, ',',3),',',-1)=a.cid WHERE LOCATE(',',ac.path)>0 AND CHAR_LENGTH(ac.path)-CHAR_LENGTH(REPLACE(ac.path, ',', '' ))=2 AND SUBSTRING_INDEX(SUBSTRING_INDEX(ac.path, ',',2),',',-1)=#{cid};
        </if>
        <if test="type=='type4'">
            SELECT DISTINCT a.cid AS cid,a.category AS category FROM ali_category ac INNER JOIN ali_category a ON SUBSTRING_INDEX(SUBSTRING_INDEX(ac.path, ',',4),',',-1)=a.cid WHERE LOCATE(',',ac.path)>0 AND CHAR_LENGTH(ac.path)-CHAR_LENGTH(REPLACE(ac.path, ',', '' ))=3 AND SUBSTRING_INDEX(SUBSTRING_INDEX(ac.path, ',',3),',',-1)=#{cid};
        </if>
        <if test="type=='type5'">
            SELECT DISTINCT a.cid AS cid,a.category AS category FROM ali_category ac INNER JOIN ali_category a ON SUBSTRING_INDEX(SUBSTRING_INDEX(ac.path, ',',5),',',-1)=a.cid WHERE LOCATE(',',ac.path)>0 AND CHAR_LENGTH(ac.path)-CHAR_LENGTH(REPLACE(ac.path, ',', '' ))=4 AND SUBSTRING_INDEX(SUBSTRING_INDEX(ac.path, ',',4),',',-1)=#{cid};
        </if>
    </select>
    <select id="queryInId" resultMap="InventoryResultMap">
        SELECT * FROM inventory WHERE goods_pid=#{goods_pid} AND IFNULL(sku,'')=#{old_sku} AND barcode=#{old_barcode}
        <if test="car_urlMD5 != null">
            AND car_urlMD5=#{car_urlMD5}
        </if>
    </select>
    <update id="updateSources">
        <choose>
            <when test="flag==1">
                update inventory set new_remaining=#{new_remaining},can_remaining=#{new_remaining},updatetime=now(),barcode=#{new_barcode},new_inventory_amount=#{new_inventory_amount},flag=1,remark=#{remark} where
                IFNULL(sku,'')=#{old_sku}
                <if test="car_urlMD5 != null">
                    and car_urlMD5=#{car_urlMD5}
                </if>
                and goods_pid=#{goods_pid} and barcode=#{old_barcode}
            </when>
            <otherwise>
                update inventory set new_remaining=#{new_remaining},can_remaining=#{new_remaining},updatetime=now(),barcode=#{new_barcode},new_inventory_amount=#{new_inventory_amount},flag=1,remark=#{remark} where
                IFNULL(sku,'')=#{old_sku}
                <if test="car_urlMD5 != null">
                    and car_urlMD5=#{car_urlMD5}
                </if>
                and goods_pid=#{goods_pid} and barcode=#{old_barcode}
            </otherwise>
        </choose>
    </update>
    <select id="getInventoryByPid" resultType="com.cbt.pojo.Inventory">
        select id,type from inventory where goods_pid=#{pid} and type=1
    </select>
    <insert id="insertInventoryYmx">
        insert into inventory(goods_url,new_remaining,can_remaining,barcode,goods_p_url,new_inventory_amount,car_img,flag,goods_pid,createtime,updatetime,remark,type,goods_p_price,remaining,good_name) VALUES
        (#{goods_url},#{count},#{count},#{barcode},#{goods_p_url},#{new_inventory_amount},#{img},1,#{itmeid},now(),now(),#{remark},1,#{goods_p_price},0,#{good_name})
    </insert>
    <select id="getNewInventory" resultType="com.cbt.website.bean.PurchaseSamplingStatisticsPojo">
        SELECT SUM(IF(flag=0,remaining,new_remaining)) AS admName,SUM(IF(flag=0,inventory_amount,new_inventory_amount)) AS pid
        FROM inventory WHERE DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= DATE(createtime)
    </select>
    <select id="getSaleInventory" resultType="com.cbt.website.bean.PurchaseSamplingStatisticsPojo">
        SELECT COUNT(lock_remaining)  AS admName,SUM(lock_inventory_amount) AS pid FROM lock_inventory WHERE DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= DATE(createtime)  AND is_use=1 AND flag=1 and is_delete=0
    </select>
    <select id="getLossInventory" resultType="com.cbt.website.bean.PurchaseSamplingStatisticsPojo">
        SELECT SUM(old_remaining-new_remaining)  AS admName,cast(SUM(loss_amount) as decimal(10,2)) AS pid FROM lossInventory WHERE DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= DATE(createtime)
    </select>
    <select id="getDeleteInventory" resultType="com.cbt.website.bean.PurchaseSamplingStatisticsPojo">
        SELECT SUM(IF(idd.flag=0,idd.remaining,idd.new_remaining)) AS admName,SUM(IF(idd.flag=0,idd.inventory_amount,idd.new_inventory_amount)) AS pid
        FROM inventory_log_info ili INNER JOIN inventory_delete_details idd ON ili.in_id=idd.id
        WHERE ili.remark='库存删除'  AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= DATE(idd.createtime)
    </select>
    <delete id="deleteInventory">
        INSERT INTO inventory_delete_details SELECT *,#{dRemark} FROM inventory WHERE id= ${id};
        delete from inventory where id=${id};
    </delete>
    <update id="updateIsStockFlag2">
        update custom_benchmark_ready set is_stock_flag=0 where pid=#{goods_pid};
    </update>
    <select id="findOrderDetails" resultType="com.cbt.bean.OrderDetailsBean">
        select od.*,ops.goods_p_price from order_details od inner join order_product_source ops ON od.goodsid=ops.goodsid
        where od.orderid=#{orderid} and od.goodsid=#{goodsid} limit 1
    </select>
    <insert id="inventoryEntry">
        insert into inventory (goods_url,remaining,can_remaining,good_name,sku,barcode,goodscatid,inventory_amount,car_img,goods_pid,car_urlMD5,createtime,goods_p_price,remark,flag,updatetime,new_inventory_amount,new_remaining)
        values (#{goods_url},#{count},#{count},#{goods_name},#{sku},#{in_barcode},(SELECT DISTINCT a.category FROM ali_category ac INNER JOIN ali_category a ON SUBSTRING_INDEX(ac.path, ',',1)=a.cid WHERE ac.cid=#{goodscatid}),
        #{inventory_amount},#{car_img},#{goods_pid},#{car_urlMD5},now(),#{goods_p_price},#{remark},1,now(),#{inventory_amount},#{count})
    </insert>
    
    
    <!-- ********************************库存数据*************************** -->
    <!-- 获取上次库存 -->
    <select id="getInventory" resultType="java.util.Map">
    select  id,od_id,remaining,can_remaining,goods_p_url,goods_p_price,barcode,car_urlMD5,goods_pid,sku,
    good_name,goods_p_pid,goods_url,goods_price,specid,skuid
    from inventory_sku 
    where 1=1 
     and goods_pid=#{goods_pid} 
    and specid=#{specid} and skuid=#{skuid}
    </select>
    <select id="getInventoryByOdId" resultType="java.util.Map">
    select  id,od_id,remaining,can_remaining,goods_p_url,goods_p_price,barcode,car_urlMD5,goods_pid,sku,
    good_name,goods_p_pid,goods_url,goods_price,specid,skuid
    from inventory_sku 
    where 1=1 
    and od_id=#{odid}
    and specid=#{specid} and skuid=#{skuid}
    </select>
     <select id="getInventoryByid" resultType="java.util.Map">
    select  id,od_id,remaining,can_remaining,goods_p_url,goods_p_price,barcode,car_urlMD5,goods_pid,sku,
    good_name,goods_p_pid,goods_url,goods_price,specid,skuid
    from inventory_sku 
    where id=#{id}
    </select>
    <!-- 获取库存表id -->
    <select id="isExsisInventory" resultType="Integer">
    select  id from inventory_sku where goods_pid=#{goods_pid}  and specid=#{specid} and skuid=#{skuid}
    </select>
    
    <insert id="addInventory">
    insert into inventory_sku(goods_url,remaining,can_remaining,good_name,sku,barcode,goodscatid,inventory_type,
    car_img,goods_pid,car_urlMD5,createtime,goods_p_price,goods_p_url,updatetime,specid,skuid,goods_p_pid,od_id,goods_price,db_flag) 
	values(#{car_url},#{inventory_count},#{inventory_count},#{goodsname},#{car_type},#{barcode},
	#{goodscatid},#{inventory_type},#{car_img},#{goods_pid},#{car_urlMD5},now(),#{goods_p_price},
	#{goods_p_url},now(),#{specid},#{skuid},#{tb_1688_itemid},#{odid},#{goodsprice},#{db_flag})
    </insert>
    
    <update id="updateInventory">
    update inventory_sku set remaining=#{remaining} ,can_remaining=#{can_remaining} ,
    updatetime=now(),goods_p_url=#{goods_p_url},goods_p_price=#{goods_p_price}  where goods_pid=#{goods_pid} 
    and specid=#{specid} 
    and skuid=#{skuid} 
    </update>
    <update id="updateInventoryById">
    update inventory_sku set remaining=#{remaining} ,can_remaining=#{can_remaining} ,
    updatetime=now(),goods_p_url=#{goods_p_url},goods_p_price=#{goods_p_price}  where id=#{inventory_sku_id}
    </update>
    
    <!-- 库存记录变更表  -->
   <insert id="addInventoryChangeRecordByInventoryid" parameterType="java.util.Map">
   insert into inventory_sku_log(goods_url,remaining,before_remaining,
   after_remaining,good_name,sku,barcode,goods_pid,
   createtime,remark,change_type,goods_p_pid,specid,skuid,inventory_sku_id)
   
   (select goods_url,#{inventory_count},#{before_remaining},#{after_remaining},good_name,sku,
   barcode,goods_pid,now(),#{log_remark},#{change_type},goods_p_pid,specid,skuid,id 
   from inventory_sku where id=#{inventory_sku_id})
   </insert>
    <!-- 库存记录变更表  -->
   <insert id="addInventoryChangeRecord" parameterType="java.util.Map">
   insert into inventory_sku_log(goods_url,remaining,before_remaining,
   after_remaining,good_name,sku,barcode,goods_pid,
   createtime,remark,change_type,goods_p_pid,specid,skuid,inventory_sku_id)
   values(#{car_url},#{inventory_count},
   #{before_remaining},#{after_remaining},#{goodsname},#{car_type},#{barcode},#{goods_pid},
   now(),#{log_remark},#{change_type},#{tb_1688_itemid},#{specid},#{skuid},#{inventory_sku_id})
   </insert>
	<!-- 记录库存存入记录，用来统计当月库存金额 -->    
   <!-- <insert id="insertInventoryDetails" parameterType="java.util.Map">
   insert into inventory_details (createtime,od_id,inventory_acount,inventory_price,invetory_amount,inventory_barcode,goods_pid,sku,car_urlMD5)
   values
   (now(),#{odid},#{inventory_acount},#{inventory_price},
   #{invetory_amount},#{barcode},#{goods_pid},#{car_type},#{car_urlMD5})
   </insert>  -->
    
    
    <select id="getOrderDetails" resultType="java.util.Map">
    select od.id as odid,od.goodsid,od.goodsprice,od.yourorder,od.goods_pid,trim(od.car_type) as car_type,od.car_urlMD5,od.goodsname,od.car_url,
    th.orderid as tborderid,od.goodscatid,od.car_img,ops.goods_p_price,th.imgurl as goods_p_img,th.itemurl,
	ops.goods_p_url,ops.tb_1688_itemid 	
	from order_details od 
	inner join order_product_source ops on (od.id=ops.od_id and od.orderid=ops.orderid )
	inner join id_relationtable ir on ir.odid=od.id
	inner join taobao_1688_order_history th on  th.orderid=ir.tborderid 
	where od.orderid=#{orderid} and od.id=#{odid}  limit 1
    </select>
    
    <insert id="insertInventoryDetailsSku">
    insert into inventory_details_sku(goods_pid,goods_p_pid,sku,good_skuid,goods_p_skuid,goods_price,
    goods_p_price,goods_number,1688_orderid,1688_shipno,orderno,od_id,createtime,admid,type,inventory_id,
    goods_p_url,goods_p_img,good_name,goods_specid,goods_p_specid,goods_img)
    value(#{goods_pid},#{tb_1688_itemid},#{car_type},#{skuid},#{tbskuid},#{goodsprice},#{goods_p_price},
    #{yourorder},#{tborderid},#{shipno},#{orderid},#{odid},now(),#{admId},#{type},#{inventory_sku_id},
    #{goods_p_url},#{goods_p_img},#{goodsname},#{specid},#{thspecid},#{car_img})
    
    </insert>
    <insert id="addInventoryDetailsSku">
    insert into inventory_details_sku(goods_pid,goods_p_pid,sku,good_skuid,goods_price,
    goods_p_price,goods_number,od_id,createtime,admid,type,inventory_id,
    goods_p_url,good_name,goods_specid,goods_img)
    
    (select  goods_pid,goods_p_pid,sku,skuid,goods_price,goods_p_price,#{inventory_count},od_id,now(),
    #{admid},#{type},id,goods_p_url,good_name,specid,car_img
    from inventory_sku where id=#{inventory_sku_id})
    
    </insert>
    <insert id="insertStorageOutboundDetails">
    insert into storage_outbound_details 
    (orderid,goodsid,in_id,storage_count,type,createtime,admName,when_count,add_inventory) values
    (#{orderid},#{goodsid},#{inventory_sku_id},#{storage_count},1,now(),#{adminId},#{when_count},#{inventory_count})
    
    </insert>
    
    <select id="getInventoryByOrderDetialsId" resultType="java.util.Map">
    select odsm.goods_pid, odsm.specid,odsm.skuid,isku.can_remaining,isku.id as inventory_id from 
     order_details_sku_match odsm left join inventory_sku isku on (odsm.goods_pid=isku.goods_pid 
    and odsm.specid=isku.specid  and odsm.skuid=isku.skuid )
    where odsm.order_details_id=#{odid}
    </select>
    
    <select id="getInventoryDetailSku" resultType="java.util.Map">
    select 
    1688_orderid,good_name,goods_p_pid,sku,1688_shipno,admid,goods_p_img,goods_p_url,goods_p_skuid,goods_p_specid,goods_p_price
    from inventory_details_sku where type=0 and inventory_id=#{inventory_sku_id} order by id desc limit 1
    limit 1
    </select>
    <insert id="addIdRelationTable">
    insert into id_relationtable ( orderid,goodid,odid,goodurl,goodstatus,goodarrivecount,
    barcode,tborderid,position,shipno, username,userid,state,itemid,is_delete,store_name,
    taobaospec,warehouse_remark,taobaoprice,itemqty,
   is_replenishment,weight,is_refund,specid,skuid,createtime)
    values(#{orderid},#{goodid},#{odid},#{goodurl},#{goodstatus},#{goodarrivecount},
    #{barcode},#{tborderid},#{position},#{shipno},#{username},#{userid},#{state},#{itemid},#{is_delete},#{store_name},
    #{taobaospec},#{warehouse_remark},#{taobaoprice},#{itemqty},
    #{is_replenishment},#{weight},#{is_refund},#{specid},#{skuid},now())
    
    </insert>
    <insert id="insertLockInventory">
    INSERT INTO lock_inventory (in_id,lock_remaining,od_id,createtime,lock_inventory_amount,is_use) values(
    #{inventory_sku_id},#{inventory_count},#{odid},now(),#{lock_inventory_amount},#{is_use}
    )
    </insert>
    
    <insert id="addLossInventoryRecord" useGeneratedKeys="true" keyProperty="id" parameterType="com.cbt.website.bean.LossInventoryRecord">
    insert into loss_inventory_record(inventory_sku_id,goods_pid,skuid,specid,change_number,
    change_type,change_adm,change_time,delete_state,delete_adm,delete_time)
    values
    (#{inventorySkuId},#{goodsPid},#{skuid},#{specid},#{changeNumber},#{changeType},
    #{changeAdm},now(),#{deleteState},#{deleteAdm},now())
    </insert>
    
    <select id="inventoryDetails" resultMap="inventoryDetailsMap">
    select  id,inventory_id,goods_pid,sku,good_skuid,type,goods_specid,del_remark,del_adm,
    del_datetime,createtime,del,goods_img,goods_number,od_id,orderno
    
    
    from  inventory_details_sku where 1=1
    <if test="inventory_sku_id > 0">
    and inventory_id=#{inventory_sku_id}
    </if>
    
    limit #{page},20
    
    </select>
    <select id="inventoryDetailsCount" resultType="Integer">
     select  count(id)
    from  inventory_details_sku where inventory_id=#{inventory_sku_id}
    </select>
    
</mapper>