<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cbt.ocr.dao.Distinguish_PictureDao">

	<resultMap id="resultMap" type="com.cbt.pojo.CustomGoods">
		<id column="id" property="id" javaType="INTEGER"/>
        <result column="pid" property="pid"/>
        <result column="shop_id" property="shopid" />
        <result column="local_path" property="localpath" />
        <result column="remote_path" property="remotepath" />
        <result column="goods_md5" property="goodsmd5" />
        <result column="create_time" property="createtime" />
        <result column="is_delete" property="isdelete" />
        <result column="ocr_need_delete" property="ocrneeddelete" />
        <result column="catgrid" property="catgrid" />
        <result column="user_operation" property="useroperation" />
        <result column="ocr_need_date" property="ocrneeddate" />
	</resultMap>
    <sql id="Distinguish_Pircture_List">
      id,pid,shop_id,local_path,remote_path,goods_md5,create_time,is_delete,ocr_need_delete,catgrid,user_operation,ocr_need_date
    </sql>
    <select id="showDistinguish_Pircture"  resultMap="resultMap" >
        SELECT
        <include refid="Distinguish_Pircture_List"/>
        FROM custom_goods_md5 where 1=1
        <if test="type==0">
            and ocr_need_delete=1 and ocr_need_date=0
        </if>
        <if test="type==1">
            and ocr_need_date=1
        </if>
        <if test="pid != null and pid != ''">
            and pid=#{pid}
        </if>
        limit #{page},21
    </select>

    <select id="queryDistinguish_PirctureCount"  resultType="java.lang.Integer" >
        SELECT COUNT(1) FROM custom_goods_md5 where 1=1
        <if test="type==0">
            and ocr_need_delete=1
        </if>
        <if test="type==1">
            and ocr_need_date=1
        </if>
        <if test="pid != null and pid != '' ">
            and pid=#{pid}
        </if>
    </select>

    <update id="updateSomePirctu_risdelete">
        update custom_goods_md5  SET
        <if test="type==0">
            ocr_need_date=1,
        </if>
        <if test="type==1">
            ocr_need_date=0,
        </if>
        user_operation=#{userName} where
        <foreach collection="bgList" separator="or" item="i" index="index">
            id = ${i.id}
        </foreach>
    </update>
</mapper>