<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cbt.userinfo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cbt.bean.UserInfoBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pass" property="pass" jdbcType="VARCHAR" />
    <result column="niceName" property="nicename" jdbcType="VARCHAR" />
    <result column="available_m" property="availableM" jdbcType="DOUBLE" />
    <result column="applicable_credit" property="applicableCredit" jdbcType="DOUBLE" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="activationState" property="activationstate" jdbcType="INTEGER" />
    <result column="activationCode" property="activationcode" jdbcType="VARCHAR" />
    <result column="activationTime" property="activationtime" jdbcType="VARCHAR" />
    <result column="activationPassTime" property="activationpasstime" jdbcType="VARCHAR" />
    <result column="activationPassCode" property="activationpasscode" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="ac_there" property="acThere" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="adminname" property="adminname" jdbcType="VARCHAR" />
    <result column="businessName" property="businessname" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="UserExResultMap" type="com.cbt.pojo.UserEx" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="otheremail" property="otheremail" jdbcType="VARCHAR" />
    <result column="otherphone" property="otherphone" jdbcType="VARCHAR" />
    <result column="whatsapp" property="whatsapp" jdbcType="VARCHAR" />
    <result column="facebook" property="facebook" jdbcType="VARCHAR" />
    <result column="tweater" property="tweater" jdbcType="VARCHAR" />
    <result column="kiki" property="kiki" jdbcType="VARCHAR" />
    <result column="skype" property="skype" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="userex_clumn_list">
  id, userid, otheremail, otherphone, whatsapp, facebook, tweater, kiki, skype
  </sql>
  
   <select id="getUserCount" resultType="java.util.Map">
   		select id,(select count(g.id) from goods_car g where state=0 and userid=user.id) carcount, 
   		(select count(o.orderid) from orderinfo o where user_id=user.id and o.state in(1,2,3,4,5)) as ordercount,
   		email,available_m,name,applicable_credit,currency,balance_correction from user
   		where user.id=#{userID}
   </select>
   <select id="getPaypal" resultType="java.lang.String">
   		select username from payment where userid=#{userID} and username is not null   group by username
   </select>
   <select id="checkUserName" resultType="INTEGER">
       SELECT count(1) FROM tblacklist v WHERE v.flag=0 AND v.blackVlue=#{username}
   </select>
    <select id="getUserEx" parameterType="com.cbt.pojo.UserEx" resultMap="UserExResultMap">
   		select 
   		<include refid="userex_clumn_list"/>
   		from user_ex where 
   		userid=#{userID}
   </select>
   
   <select id="exitEmail" resultType="java.lang.String">
   		select email from user where  name = #{email} or email = #{email}
   </select>
   
    <update id="upEmail">
  	update user set email=#{email},name=#{email},pass=#{password} where id=#{uid}
  </update>
   <insert id="saveupemail_log" >
    insert tab_log_upemail(oldemail,newemail,upid,upobj,createtime) values(#{oldemail},#{newemail},#{adminid},1,now())
  </insert>
  <select id="exitPhone" resultType="java.lang.String">
    SELECT id FROM  user_ex  WHERE userid=#{userid}
  </select>
  <update id="upPhone">
    update user_ex set otherphone=#{newPhone} where userid=#{userid}
  </update>
  <insert id="InPhone">
    insert into user_ex (userid,otherphone) values(#{userid},#{newPhone})
  </insert>
  <select id="getAllAdmuser" resultType="java.lang.String">
    select distinct admName from admuser where 1=1 and status =1
    <if test="admName != null">
      and admName != #{admName}
    </if>
    order by status desc,admName
  </select>
    <!--List<String> queryUserRemark(@Param("userid") int userid);-->
    <select id="queryUserRemark" resultType="String">
        SELECT CONCAT(id,'@@@@', remark, '@@@@', createtime) remark
        FROM user_remark WHERE userid = #{userid} AND del = 0 AND LENGTH(remark) > 0
        ORDER BY createtime ASC
    </select>
    <!--void insertUserRemark(@Param("userid") int userid, @Param("remark") String remark);-->
    <insert id="insertUserRemark">
        INSERT INTO user_remark (userid, remark, createtime)
        VALUES (#{userid}, #{remark}, NOW())
    </insert>

    <!--void updateUserRemark(@Param("id") String id);-->
    <update id="updateUserRemark">
        UPDATE user_remark
        SET del = 1
        WHERE id = #{id}
    </update>

    <select id="queryFollowMeCodeByUserId" resultType="java.lang.String">
        select follow_code from user where id = #{userId}
    </select>

    <select id="queryForUUID" resultType="java.lang.String">
        SELECT UUID()
    </select>

    <select id="checkFollowMeCode" resultType="java.lang.Integer">
        select count(0) from user where follow_code = #{followCode}
    </select>

    <update id="updateUserFollowCode">
        update user set follow_code = #{followCode} where id = #{userId}
    </update>

    <select id="queryAllInfoById" resultType="com.cbt.website.bean.UserInfo">
        select a.id,a.email,DATE_FORMAT(a.createtime,'%Y-%m-%d %H:%i:%S') as creattime,b.businessinfo,
        b.productone,b.producttwo,b.requirementone,b.requirementtwo
        from user a left join user_regist_info b on a.id  = b.userid where a.id = #{userId} limit 1
    </select>

    <select id="queryRecommendEmailInfo" resultType="com.importExpress.pojo.UserRecommendEmail">
        select a.id,a.user_id as userId,a.email_content as emailContent,
        DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') as createTime,a.send_url as sendUrl,
        a.admin_id as adminId,b.admName as adminName,a.catalog_id as catalogId,if(ifnull(c.id,0) > 0,1,0) as openFlag
        from user_recommend_email a inner join admuser b on a.admin_id = b.id
		left join recommend_catalog_record c on a.user_id = c.user_id and a.catalog_id = c.catalog_id
        where  a.user_id = #{userId}
    </select>

    <insert id="insertIntoUserRecommendEmail" parameterType="com.importExpress.pojo.UserRecommendEmail">
        insert into user_recommend_email(user_id,email_content,send_url,admin_id,catalog_id)
        values(#{userId},#{emailContent},#{sendUrl},#{adminId},#{catalogId})
    </insert>

    <select id="getUserInfoById" resultType="hashmap">
        select * from user where id = #{id}
    </select>

    <select id="queryBusinessMembershipAuthorization" parameterType="com.cbt.website.bean.UserInfo"
            resultType="com.cbt.website.bean.UserInfo">
        select a.id as userid,a.email,DATE_FORMAT(a.createtime,'%Y-%m-%d %H:%i:%S') as creattime,b.businessinfo, d.country as zone,
        b.productone,b.producttwo,b.requirementone,b.requirementtwo, ifnull(c.auth_flag,0) as authFlag,a.site,ad.admin_name as adminname,
        CAST(ifnull((select sum(googs_price * googs_number) from shop_car_marketing where userid =  a.id ),0) AS DECIMAL(11, 2)) as shopCarAmount,
        CAST((select ifnull(sum(pay_price),0) from orderinfo where user_id = a.id and state in(1,2,3,4,5)) AS DECIMAL(11, 2)) as historyAmount,
        DATE_FORMAT(b.application_time,'%Y-%m-%d %H:%i:%S') as applicationTime
        from user a inner join user_regist_info b on a.id  = b.userid left join user_authorization c on a.id = c.user_id
        left join zone d on a.countryId = d.id
        left join (select admuser.id as admin_id,admuser.admName as admin_name,admin_r_user.userid from admuser , admin_r_user
            where admuser.id = admin_r_user.adminid) ad on a.id  = ad.userid
        where 1=1
        <if test="userid > 0">
            and a.id = #{userid}
        </if>
        <if test="email != null">
            and a.email = #{email}
        </if>
        <if test="countryId != null and countryId > 0">
            and a.countryId = #{countryId}
        </if>
        <if test="authFlag != null and authFlag > -1">
            and c.auth_flag = #{authFlag}
        </if>
        <if test="adminId > 0">
            and ad.admin_id = #{adminId}
        </if>
        <if test="site != null and site > -1">
            <if test="site == 1">
                and a.site in(0,1)
            </if>
            <if test="site == 2">
                and a.site in(2,3)
            </if>
            <if test="site == 3">
                and a.site = 4
            </if>
        </if>
        order by b.application_time desc
        <if test="limitNum > 0">
            limit #{startNum},#{limitNum}
        </if>
    </select>

    <select id="queryBusinessMembershipAuthorizationCount" parameterType="com.cbt.website.bean.UserInfo" resultType="int">
        select count(0) from user a inner join user_regist_info b on a.id  = b.userid
        left join user_authorization c on a.id = c.user_id
        left join zone d on a.countryId = d.id
        left join (select admuser.id as admin_id,admuser.admName as admin_name,admin_r_user.userid from admuser , admin_r_user
            where admuser.id = admin_r_user.adminid) ad on a.id  = ad.userid
        where 1=1
        <if test="userid > 0">
            and a.id = #{userid}
        </if>
        <if test="email != null">
            and a.email = #{email}
        </if>
        <if test="countryId != null and countryId > 0">
            and a.countryId = #{countryId}
        </if>
        <if test="authFlag != null and authFlag > -1">
            and c.auth_flag = #{authFlag}
        </if>
        <if test="adminId > 0">
            and ad.admin_id = #{adminId}
        </if>
        <if test="site != null and site > -1">
            <if test="site == 1">
                and a.site in(0,1)
            </if>
            <if test="site == 2">
                and a.site in(2,3)
            </if>
            <if test="site == 3">
                and a.site = 4
            </if>
        </if>
    </select>
    <select id="queryAdmByUser" resultType="String">
        select admName from admin_r_user where userid = #{userId};
    </select>
</mapper>