<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="importExpress" version="2.5">
  <display-name>cbtconsole</display-name>
  <welcome-file-list>
     <welcome-file>website/main_login.jsp</welcome-file>
    <!--<welcome-file>website/login.jsp</welcome-file>-->
  </welcome-file-list>
  <!-- 不要注释提交代码的时候，会影响采购分配 王宏杰-->
  <!--<listener>
    <listener-class>
   com.cbt.listener.ContextPathListener
  </listener-class>
  </listener>-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext-base.xml;classpath:applicationContext-mail.xml;classpath:applicationContext-shiro.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
<!--本地测试不要打开  -->
  <!-- <listener>
    <listener-class>com.cbt.email.TimerListener.InitListener</listener-class>
  </listener> -->

  <!-- 
 	<listener>
		<listener-class>com.cbt.website.interceptor.SessionListener</listener-class>
	</listener>
	 -->
	 
	 <!--  暂时不更新后台汇率  -->
  <!--  <listener>
		<listener-class>com.cbt.listener.ExchangeRateListener</listener-class>
	</listener> -->

<!-- 定时抓取物流信息 -->
<!--   <listener> -->
<!-- 		<listener-class>com.cbt.listener.SpiderTrackListener</listener-class> -->
<!-- 	</listener> -->

<!-- 定时获取热门商品的类别以及类别下的商品信息 -->
  <!-- <listener>
		<listener-class>com.cbt.website.quartz.genHotCategoryAndGoods</listener-class>
	</listener> -->
	
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>  
	        org.springframework.web.filter.DelegatingFilterProxy  
	   </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminInterceptor</filter-name>
    <filter-class>com.cbt.website.interceptor.HeadInterceptor</filter-class>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/main_login.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>adminInterceptor</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminInterceptor</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminInterceptor</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AbstractHelpServlet</servlet-name>
    <servlet-class>com.cbt.email.servlet.AbstractHelpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractHelpServlet</servlet-name>
    <url-pattern>/helpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cbtconsole</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cbtconsole</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropshipServlet</display-name>
    <servlet-name>DropshipServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.DropshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropshipServlet</servlet-name>
    <url-pattern>/DropshipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>APIServlet</display-name>
    <servlet-name>APIServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.APIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APIServlet</servlet-name>
    <url-pattern>/APIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet2.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet2.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebsiteServlet</display-name>
    <servlet-name>WebsiteServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.WebsiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebsiteServlet</servlet-name>
    <url-pattern>/WebsiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacebookCallback</display-name>
    <servlet-name>FacebookCallback</servlet-name>
    <servlet-class>com.cbt.processes.servlet.FacebookCallback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookCallback</servlet-name>
    <url-pattern>/FacebookCallback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterCallback</display-name>
    <servlet-name>TwitterCallback</servlet-name>
    <servlet-class>com.cbt.processes.servlet.TwitterCallback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterCallback</servlet-name>
    <url-pattern>/TwitterCallback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getGoodsList</display-name>
    <servlet-name>getGoodsList</servlet-name>
    <servlet-class>com.cbt.website.servlet.GetGoodsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    <init-param>
      <param-name>loginUsername</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>loginPassword</param-name>
      <param-value>jack</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getGoodsList</servlet-name>
    <url-pattern>/getGoodsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchConditionGoods</display-name>
    <servlet-name>searchConditionGoods</servlet-name>
    <servlet-class>com.cbt.website.servlet.SearchConditionGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchConditionGoods</servlet-name>
    <url-pattern>/searchConditionGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexServlet</display-name>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.cbt.processes.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getFright</display-name>
    <servlet-name>getFright</servlet-name>
    <servlet-class>com.cbt.fee.servlet.GetFright</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFright</servlet-name>
    <url-pattern>/getFright</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveHtmlServlet</display-name>
    <servlet-name>SaveHtmlServlet</servlet-name>
    <servlet-class>com.cbt.customer.servlet.SaveHtmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveHtmlServlet</servlet-name>
    <url-pattern>/SaveHtmlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxyServlet</display-name>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>com.cbt.servlet.ProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/ProxyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCode</servlet-name>
    <servlet-class>com.cbt.customer.logintb.GetValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCode</servlet-name>
    <url-pattern>/getCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaobaoLogin</servlet-name>
    <servlet-class>com.cbt.customer.logintb.TaobaoHttpLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaobaoLogin</servlet-name>
    <url-pattern>/TBlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.cbt.app.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/regServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cbt.app.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.cbt.processes.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/pays</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaysServlet</display-name>
    <servlet-name>PaysServlet</servlet-name>
    <servlet-class>com.cbt.pay.servlet.PaysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaysServlet</servlet-name>
    <url-pattern>/paysServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessesServlet</display-name>
    <servlet-name>ProcessesServlet</servlet-name>
    <servlet-class>com.cbt.processes.servlet.ProcessesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessesServlet</servlet-name>
    <url-pattern>/processesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsTypeServerlet</display-name>
    <servlet-name>GoodsTypeServerlet</servlet-name>
    <servlet-class>com.cbt.parse.servlet.GoodsTypeServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsTypeServerlet</servlet-name>
    <url-pattern>/goodsTypeServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsTest</display-name>
    <servlet-name>GoodsTest</servlet-name>
    <servlet-class>com.cbt.parse.servlet.GoodsTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsTest</servlet-name>
    <url-pattern>/goodstest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeeServlet</display-name>
    <servlet-name>FeeServlet</servlet-name>
    <servlet-class>com.cbt.fee.servlet.FeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeServlet</servlet-name>
    <url-pattern>/feeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.cbt.customer.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataReturnServlet</display-name>
    <servlet-name>DataReturnServlet</servlet-name>
    <servlet-class>com.cbt.parse.servlet.DataReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataReturnServlet</servlet-name>
    <url-pattern>/DataReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.cbt.parse.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveFormServlet</display-name>
    <servlet-name>SaveFormServlet</servlet-name>
    <servlet-class>com.cbt.parse.servlet.SaveFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFormServlet</servlet-name>
    <url-pattern>/SaveFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlackListServlet</display-name>
    <servlet-name>BlackListServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.BlackListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlackListServlet</servlet-name>
    <url-pattern>/BlackListServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PageFilter</display-name>
    <filter-name>PageFilter</filter-name>
    <filter-class>com.cbt.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PageFilter</filter-name>
    <url-pattern>/PageFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Geton</display-name>
    <servlet-name>Geton</servlet-name>
    <servlet-class>com.cbt.processes.servlet.Geton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Geton</servlet-name>
    <url-pattern>/Geton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmailServlet</display-name>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.SendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/SendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <param-name>XMLConfig</param-name>
      <param-value> /WEB-INF/config.xml </param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value> false </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FileUploadFilter</filter-name>
    <filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
    <init-param>
      <param-name>sessionCookieName</param-name>
      <param-value>JSESSIONID</param-value>
    </init-param>
    <init-param>
      <param-name>sessionParameterName</param-name>
      <param-value>jsessionid</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadFilter</filter-name>
    <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>2880</session-timeout>
  </session-config>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>CheckGoodsServlet</display-name>
    <servlet-name>CheckGoodsServlet</servlet-name>
    <servlet-class>com.cbt.parse.servlet.CheckGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckGoodsServlet</servlet-name>
    <url-pattern>/checkGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.cbt.parse.servlet.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsSearch</display-name>
    <servlet-name>GoodsSearch</servlet-name>
    <servlet-class>com.cbt.parse.servlet.GoodsSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsSearch</servlet-name>
    <url-pattern>/GoodsSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trans</display-name>
    <servlet-name>Trans</servlet-name>
    <servlet-class>com.cbt.parse.servlet.Trans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trans</servlet-name>
    <url-pattern>/Trans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveMapInfo</display-name>
    <servlet-name>SaveMapInfo</servlet-name>
    <servlet-class>com.li.servlet.SaveMapInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveMapInfo</servlet-name>
    <url-pattern>/SaveMapInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationSummaryServlet</display-name>
    <servlet-name>ApplicationSummaryServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.ApplicationSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationSummaryServlet</servlet-name>
    <url-pattern>/ApplicationSummaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmUserServlet</display-name>
    <servlet-name>ConfirmUserServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.ConfirmUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmUserServlet</servlet-name>
    <url-pattern>/ConfirmUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateConfirmUserServlet</display-name>
    <servlet-name>UpdateConfirmUserServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.UpdateConfirmUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateConfirmUserServlet</servlet-name>
    <url-pattern>/UpdateConfirmUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminUserServlet</display-name>
    <servlet-name>UpdateAdminUserServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.UpdateAdminUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminUserServlet</servlet-name>
    <url-pattern>/UpdateAdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAvailableMoneyServlet</display-name>
    <servlet-name>UpdateAvailableMoneyServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet2.UpdateAvailableMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAvailableMoneyServlet</servlet-name>
    <url-pattern>/UpdateAvailableMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YiWu</display-name>
    <servlet-name>YiWu</servlet-name>
    <servlet-class>com.cbt.parse.servlet.YiWu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YiWu</servlet-name>
    <url-pattern>/YiWu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderRemarkServlet</display-name>
    <servlet-name>OrderRemarkServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.OrderRemarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderRemarkServlet</servlet-name>
    <url-pattern>/OrderRemarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserStatisitcsServlet</display-name>
    <servlet-name>UserStatisitcsServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.UserStatisitcsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatisitcsServlet</servlet-name>
    <url-pattern>/UserStatisitcsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableMoneyRemarkServlet</display-name>
    <servlet-name>AvailableMoneyRemarkServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet2.AvailableMoneyRemarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableMoneyRemarkServlet</servlet-name>
    <url-pattern>/AvailableMoneyRemarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStateServlet</display-name>
    <servlet-name>UpdateOrderStateServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet2.UpdateOrderStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStateServlet</servlet-name>
    <url-pattern>/UpdateOrderStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderPriceServlet</display-name>
    <servlet-name>UpdateOrderPriceServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet2.UpdateOrderPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderPriceServlet</servlet-name>
    <url-pattern>/UpdateOrderPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpressTrackServlet</display-name>
    <servlet-name>ExpressTrackServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.ExpressTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpressTrackServlet</servlet-name>
    <url-pattern>/ExpressTrackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DcServlet</display-name>
    <servlet-name>DcServlet</servlet-name>
    <servlet-class>com.cbt.dc.servlet.DcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DcServlet</servlet-name>
    <url-pattern>/DcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryWarningServlet</display-name>
    <servlet-name>DeliveryWarningServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.DeliveryWarningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryWarningServlet</servlet-name>
    <url-pattern>/DeliveryWarningServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWholesaleServlet</display-name>
    <servlet-name>AddWholesaleServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.AddWholesaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWholesaleServlet</servlet-name>
    <url-pattern>/addwholesale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsConfigServlet</display-name>
    <servlet-name>GoodsConfigServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.GoodsConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsConfigServlet</servlet-name>
    <url-pattern>/goodsconfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsWebsiteServlet</display-name>
    <servlet-name>GoodsWebsiteServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.GoodsWebsiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsWebsiteServlet</servlet-name>
    <url-pattern>/goodswebsite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaypalCheckServlet</display-name>
    <servlet-name>PaypalCheckServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.PaypalCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaypalCheckServlet</servlet-name>
    <url-pattern>/PaypalCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseServlet</display-name>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet2.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportServlet</display-name>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>fpx.api.servlet.ExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/ExportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmUserServlet</display-name>
    <servlet-name>AdmUserServlet</servlet-name>
    <servlet-class>com.cbt.website.userAuth.servlet.AdmUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmUserServlet</servlet-name>
    <url-pattern>/AdmUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebsiteLoginServlet</display-name>
    <servlet-name>WebsiteLoginServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.WebsiteLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebsiteLoginServlet</servlet-name>
    <url-pattern>/WebsiteLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuthServlet</display-name>
    <servlet-name>UserAuthServlet</servlet-name>
    <servlet-class>com.cbt.website.userAuth.servlet.UserAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthServlet</servlet-name>
    <url-pattern>/UserAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CbtSpiders</display-name>
    <servlet-name>CbtSpiders</servlet-name>
    <servlet-class>com.cbt.processes.servlet.CbtSpiders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CbtSpiders</servlet-name>
    <url-pattern>/cbtSpiders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shoppingCartManagement</display-name>
    <servlet-name>shoppingCartManagement</servlet-name>
    <servlet-class>com.cbt.website.servlet.shoppingCartManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingCartManagement</servlet-name>
    <url-pattern>/shoppingCartManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebsiteServlet1</servlet-name>
    <servlet-class>com.cbt.bigpro.servlet.WebsiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebsiteServlet1</servlet-name>
    <url-pattern>/WebsiteServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOrderDetailsServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.GetOrderDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderDetailsServlet</servlet-name>
    <url-pattern>/GetOrderDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDetailsServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.OrderDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailsServlet</servlet-name>
    <url-pattern>/OrderDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrderpRroductServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.AddOrderpRroductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderpRroductServlet</servlet-name>
    <url-pattern>/AddOrderpRroductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderProoductServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.OrderProoductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderProoductServlet</servlet-name>
    <url-pattern>/OrderProoductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetListServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.GetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetListServlet</servlet-name>
    <url-pattern>/GetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SourceServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.SourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SourceServlet</servlet-name>
    <url-pattern>/SourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CanBuyServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.CanBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanBuyServlet</servlet-name>
    <url-pattern>/CanBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CanBuyTaobaoServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.CanBuyTaobaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanBuyTaobaoServlet</servlet-name>
    <url-pattern>/CanBuyTaobaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CanBuy1688Servlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.CanBuy1688Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanBuy1688Servlet</servlet-name>
    <url-pattern>/CanBuy1688Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderAutoServlet</servlet-name>
    <servlet-class>com.cbt.auto.ctrl.OrderAutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAutoServlet</servlet-name>
    <url-pattern>/OrderAutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMailWithAttachmentServlet</servlet-name>
    <servlet-class>com.cbt.website.servlet.SendMailWithAttachmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailWithAttachmentServlet</servlet-name>
    <url-pattern>/SendMailWithAttachmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SynchDataServlet</servlet-name>
    <servlet-class>com.cbt.searchByPic.Synchronization.SynchDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SynchDataServlet</servlet-name>
    <url-pattern>/SynchDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DownErrorFile</servlet-name>
    <servlet-class>com.cbt.method.servlet.DownErrorFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownErrorFile</servlet-name>
    <url-pattern>/DownErrorFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>PackageParametersServlet</servlet-name>
    <servlet-class>com.cbt.method.servlet.PackageParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackageParametersServlet</servlet-name>
    <url-pattern>/PackageParametersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowFileServle</servlet-name>
    <servlet-class>com.cbt.report.ctrl.ShowFileServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFileServle</servlet-name>
    <url-pattern>/ShowFileServle</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EmailReceiveServlet</display-name>
    <servlet-name>EmailReceiveServlet</servlet-name>
    <servlet-class>com.cbt.email.servlet.EmailReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailReceiveServlet</servlet-name>
    <url-pattern>/emailReceiveServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ServletDownload</servlet-name>
    <servlet-class>com.cbt.email.servlet.ServletDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDownload</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>InsertMessageFor</servlet-name>
    <servlet-class>com.cbt.website.servlet2.InsertMessageForServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMessageFor</servlet-name>
    <url-pattern>/InsertMessageForServlet</url-pattern>
  </servlet-mapping>
</web-app>